<ion-view title='Sobre' style='background: url(/img/dark_mosaic.png);'>
    <ion-nav-buttons side='left'>
        <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>

    <ion-content padding='true'>
        <div class="list list-inset" style='background:none;'>
            <div class="item item-image animated flipInX" style='border:none;margin:30px auto;margin-bottom:30px;background:none; width:250px;'>
                <center>
                    <img src="img/logo-linkzter.svg" width='80' style='display:block;margin-left:auto;margin-right:auto;'>
                </center>
            </div>

            <p class='light animated fadeIn' style='color:#f2f2f2;font-size:16px;line-height:18px;font-smooth:12px;padding-left:15px;padding-right:15px; '>

                Linkzter é o aplicativo que conecta você às pessoas certas no ecossistema digital. Simples e objetivo pra você encontrar exatamente quem você precisa.

                <br><br>

                Estamos em fase beta, aprimorando as funcionalidades, e em breve, você poderá baixar o aplicativo para Android, iPhone e Windows Phone. 
                
                <br><br>

                Feedbacks são super bem-vindos!

                <br><br>

                Usando e divulgando o Linkzter você ganha acesso a cada vez mais possíveis sócios e parceiros, e ajuda a catalisar o ecossistema. 

                <br><br>

                Quanto mais pessoas conectadas, mais encontros ideais, mais inovações e realizações, mais rapidamente.   

                <br><br>

                Pois quando as pessoas certas se juntam, tudo acontece...

                <br><br>

                Boas conexões pra você!

              
            </p>
        </div>
    </ion-content>
</ion-view>
