<body ng-controller="AutocompleteCtrl">
    
    <ion-header-bar class="bar-positive">
      <h1 class="title">{{myTitle}}</h1>
    </ion-header-bar>
    <ion-header-bar class="bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-change="search()" ng-model="data.search">
  </label>
  <button class="button button-clear">
    Cancel
  </button>      
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <li class="item" ng-repeat="airline in data.airlines">{{airline.name}}</li>
      </div>
    </ion-content>
    
  </body>