<ion-view title='Blog'>
  <ion-nav-buttons side='left'>
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
      <div class="list">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Procurar..." ng-model='keyword'>
          </label>
          <button class="button button-clear" ng-click='keyword=""'>
            Limpar 
          </button>
      </div>

      <ion-item class="item item-icon-right" href='#/app/blog/{{post.id}}' ng-repeat='post in posts | filter:keyword'>
        {{post.title}}
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
