<a ng-repeat="profile in profiles.professional" ng-init="profile.type='pro'" class="item item-custom item-pro item-thumbnail-left" href="#/app/profile/professional/{{profile._id}}">
  <div class="profile-image image-cover-center" back-img="{{profile.avatar}}"></div>
  <h2 class="card-title">{{profile.name}}</h2>
  <div>
    <div class="card-content">
      <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.city}}</div>
      <div class="tag tag-small" ng-repeat="expertise in profile.expertise">{{expertise}}</div>
    </div>
  </div>
  <div class="oqueprocura">
    <i class="icon-search icon-lupa"></i>
    <div class="icon-small">
      <ul>
        <li><i class="icon-equity icon-small-amarelo" ng-show="profile.lookingForEquity"></i></li>
        <li><i class="icon-cash icon-small-amarelo" ng-show="profile.lookingForCash"></i></li>
      </ul>  
    </div>
  </div>
</a>
