<a 
  ng-repeat="profile in profiles.investor"
  ng-hide="!isCurrent('investor')"
  ng-show="!hasKeyword()"
  ng-init="profile.type='investor'"
  class="item item-custom item-investor item-thumbnail-left"
  href="#/app/profile/investor/{{profile._id}}"
  on-swipe-left='onSwipeLeft()'
>
 <div ng-include src="'templates/card-investor-detail.html'"></div>
</a>
