<div class="item item-custom item-pro item-thumbnail-left">
    <div class="profile-image img70 image-cover-center" back-img="{{getProfileInformation(profile).picture + '?type=large'}}"></div>
    <h2 class="card-title">{{getProfileInformation(profile).name}}</h2>
    <div>
        <div class="card-content">
            <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.city}}</div>
        </div>
    </div>
</div>