<div class="bar bar-header no-padding" padding="false" on-swipe-left='onSwipeLeft()'>
  <div class="tabs">
    <ul>
      <li id="startup-tab" ng-click="choose('startup')" ng-class="isSecondary('startup')">
        Startups
      </li>
      <li id="pro-tab" ng-click="choose('pro')" ng-class="isSecondary('pro')">
        Pros
      </li>
      <li id="investor-tab" ng-click="choose('investor')" ng-class="isSecondary('investor')">
        Investidores
      </li>
    </ul>
  </div>
</div>
