<div class="bar bar-dark">
  <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  <div class="h1 title"><center><img ng-src="/img/logo-signin.png" width='140px' height='20px' class="logo"></center></div>
  <div style="position:absolute; right:0;">
    <a ng-href='#/app/messages' class="button button-icon icon ion-chatbubble-working" style="position:relative; left:10px">
      <span class="badge badge-assertive icon-badge" style="display:none;" ng-show="messageCounter">{{messagesCounter}}</span>
    </a>
    <a ng-click='enableState()' class="button button-icon icon ion-ios7-search"></a>
  </div>
</div>
  <ion-content class="has-header" style='background:#f2f2f2;'>
    <div context-menu></div>

    <div class="invite" ng-show="startup_invites_pro.length" ng-repeat="startup_invite in startup_invites_pro" style="padding-top: 95px; padding-bottom: 55px;">
        Você foi adicionado como membro da equipe <strong ng-click="openStartupProfile(startup_invite.startup_id)">{{ startup_invite.startup_id.name }}</strong>
        <ul>
          <li><span class="invite-accept" ng-click="confirmMember('pro', startup_invite, $index)">Confirmar</span></li>
          <li><span class="invite-deny" ng-click="refuseMember('pro', startup_invite, $index)">Cancelar</span></li>
        </ul>
    </div>

    <div class="invite" ng-show="startup_invites_investor.length" ng-repeat="startup_invite in startup_invites_investor">
        Você foi adicionado como investidor de <strong ng-click="openStartupProfile(startup_invite.startup_id._id || startup_invite.startup_id)">{{ startup_invite.startup_id.name }}</strong>
        <ul>
          <li><span class="invite-accept" ng-click="confirmMember('investor', startup_invite, $index)">Confirmar</span></li>
          <li><span class="invite-deny" ng-click="refuseMember('investor', startup_invite, $index)">Cancelar</span></li>
        </ul>
    </div>

    <div class='list padding' style='padding-top:50px;'>
      <div card-startup></div>
      <div card-pro></div>
      <div card-investor></div>
    </div>
  </ion-content>
</ion-view>
