<ion-view title='Busca' hide-menu-button='true'>
    <div class="bar bar-dark">
      <button class="button button-clear back-button icon ion-ios7-arrow-left" ng-click='modal.hide()'>&nbsp; Voltar</button>
      <div class="h1 title">Busca</div>
    </div>

    <ion-content style='margin-top:43px;'>
        <div context-menu></div>
        <form ng-submit="searchStartup()" ng-hide='getKeyword() !== "startup"' ng-show='getKeyword() === "startup"' style='padding-top:25px;'>
            <br>
            <br>
            <div class='list border-none' style="margin-top: -18px;">
                <label class="item item-input item-floating-label">
                    <tags-input 
                        placeholder='Local' 
                        ng-model='search.startup.location' 
                        min-length='2'
                        add-on-comma='true' 
                        add-on-blur='true'
                        add-on-enter='true'
                        replace-spaces-with-dashes='false'
                    >
                        <auto-complete source="citiesList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <label class="item item-input item-floating-label">
                    <tags-input 
                        placeholder='Mercados' 
                        ng-model='search.startup.market' 
                        add-on-comma='true' 
                        add-on-blur='true'
                        add-on-enter='true'
                        replace-spaces-with-dashes='true'
                    >
                        <auto-complete source="marketsList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <div class="block-title-signup-top">
                    Buscando:
                </div>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-user icon-medio icon-amarelo"></i>
                    <div class="signup-text-title">Pros</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" ng-click='search.startup.lookingForPros = !search.startup.lookingForPros;' ng-checked='search.startup.lookingForPros'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-input item-floating-label animated" ng-class='search.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='search.startup.lookingForPros'>
                    <tags-input
                    placeholder='Expertises'
                    ng-model='search.startup.lookingForExpertise'
                    add-on-comma='true'
                    add-on-blur='true'
                    replace-spaces-with-dashes='true'
                    add-on-enter='true'>
                        <auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <div class="row animated" style="margin-top:-5px;">
                    <div class="col-95 animated">
                        <label class="item item-divider-explore animated border-right-none" ng-class='search.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='search.startup.lookingForPros'>
                            <small>OFERECENDO:</small>
                        </label>


                        <label class="item item-toggle item-icon-left animated border-right-none" ng-class='search.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='search.startup.lookingForPros'>
                            <i class="icon-left icon-equity icon-medio icon-amarelo"></i>
                            <div class="signup-text-title">Equity</div>
                            <label class="toggle toggle-energized toggle-ajust">
                                <input type="checkbox" ng-checked='search.startup.offerEquity' ng-click='search.startup.offerEquity = !search.startup.offerEquity;'>
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </label>

                        <label class='item item-toggle item-icon-left border-right-none animated' ng-class='search.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='search.startup.lookingForPros' style="height: 69px !important">
                            <i class="icon-left icon-cash icon-medio icon-amarelo"></i>
                            <div class="signup-text-title">Cash</div>
                            <label class="toggle toggle-energized toggle-ajust">
                                <input type="checkbox" ng-checked='search.startup.offerCash' ng-click='search.startup.offerCash = !search.startup.offerCash;'>
                                <div class="track">
                                    <div class="handle"></div>
                                </div>

                            </label>

                        </label>

                    </div>



                </div>


                <label class="item item-toggle item-icon-left" style="margin-top:-16px;">
                    <i class="icon-left icon-user icon-medio icon-azul"></i>
                    <div class="signup-text-title">Investidores</div>
                    <label class="toggle toggle-success toggle-ajust">
                        <input type="checkbox" ng-checked='search.startup.lookingForInvestor' ng-click='search.startup.lookingForInvestor = !search.startup.lookingForInvestor;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label> 
                
                <div class="block-title-signup-top">
                    Fase:
                </div>

             

                <label class="item item-toggle item-icon-left">
                  <i class="icon-left icon-step-1 icon-medio icon-verde"></i>
                  <div class="signup-text-title">Ideia</div>
                  <label class="toggle toggle-balanced toggle-ajust">
                     <input type="checkbox" ng-checked='search.startup.lookingForIdea' ng-click='search.startup.lookingForIdea = !search.startup.lookingForIdea;'>
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </label>

                <label class="item item-toggle item-icon-left">
                  <i class="icon-left icon-step-2 icon-medio icon-verde"></i>
                  <div class="signup-text-title">Prototipagem</div>
                  <label class="toggle toggle-balanced toggle-ajust">
                     <input type="checkbox" ng-checked='search.startup.lookingForProtoProgress' ng-click='search.startup.lookingForProtoProgress = !search.startup.lookingForProtoProgress;'>
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </label>

                <label class="item item-toggle item-icon-left">
                  <i class="icon-left icon-step-3 icon-medio icon-verde"></i>
                  <div class="signup-text-title">Protótipo pronto</div>
                  <label class="toggle toggle-balanced toggle-ajust">
                     <input type="checkbox" ng-checked='search.startup.lookingForProtoDone' ng-click='search.startup.lookingForProtoDone = !search.startup.lookingForProtoDone;'>
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </label>

                <label class="item item-toggle item-icon-left">
                  <i class="icon-left icon-step-4 icon-medio icon-verde"></i>
                  <div class="signup-text-title">Lançada</div>
                  <label class="toggle toggle-balanced toggle-ajust">
                     <input type="checkbox" ng-checked='search.startup.lookingForStartupLaunched' ng-click='search.startup.lookingForStartupLaunched = !search.startup.lookingForStartupLaunched;'>
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </label>

                <label class="item item-toggle item-icon-left">
                  <i class="icon-left icon-step-5 icon-medio icon-verde"></i>
                  <div class="signup-text-title">Com receita</div>
                  <label class="toggle toggle-balanced toggle-ajust">
                     <input type="checkbox" ng-checked='search.startup.lookingForProfitingStartup' ng-click='search.startup.lookingForProfitingStartup = !search.startup.lookingForProfitingStartup;'>
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </label>

                <label class="item border-none" style="position: relative; top: 2px;">
                    <button class="button button-block button-balanced" type="submit">Pesquisar Startups</button>
                </label>
            </div>
        </form>


        <form ng-submit="searchPro()" ng-hide='getKeyword()!=="pro"' ng-show='getKeyword()==="pro"' style='padding-top:65px;'>
            <div class='list'  style="margin-top: -18px;">
                <label class="item item-input item-floating-label">
                    <tags-input
                    placeholder='Local'
                    ng-model='search.pro.location'
                    min-length='2'
                    add-on-comma='true'
                    add-on-blur='true'
                    replace-spaces-with-dashes='false'
                    add-on-enter='true'>
                        <auto-complete source="citiesList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <label class="item item-input item-floating-label">
                    <tags-input
                    placeholder='Expertises'
                    ng-model='search.pro.expertise'
                    add-on-comma='true'
                    add-on-blur='true'
                    replace-spaces-with-dashes='true'
                    add-on-enter='true'>
                        <auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <div class="block-title-signup-top">
                    ACEITAM:
                </div>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-cash icon-medio icon-amarelo"></i>
                    <div class="signup-text-title">Cash</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" ng-checked='search.pro.lookingForCash' ng-click='search.pro.lookingForCash = !search.pro.lookingForCash;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-equity icon-medio icon-amarelo"></i>
                    <div class="signup-text-title">Equity</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" ng-checked='search.pro.lookingForEquity' ng-click='search.pro.lookingForEquity = !search.pro.lookingForEquity;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

            </div>
            </div>

            <label class="item border-none" style="margin-top:-19px">
                <button class="button button-block button-energized" type="submit" ng-click="choose('result')">Pesquisar Pros</button>
            </label>
        </form>

        <form ng-submit='searchInvestor()' ng-hide='getKeyword()!=="investor"' ng-show='getKeyword()==="investor"' style='padding-top:65px;'>
            <div class='list' style="margin-top: -18px;">
                <label class="item item-input item-floating-label">
                    <tags-input
                    placeholder='Local'
                    ng-model='search.investor.location'
                    min-length='2'
                    add-on-comma='true'
                    add-on-blur='true'
                    replace-spaces-with-dashes='false'
                    add-on-enter='true'>
                        <auto-complete source="citiesList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <label class="item item-input item-floating-label">
                    <tags-input
                    placeholder='Mercados Preferidos'
                    ng-model='search.investor.favoriteMarket'
                    add-on-comma='true'
                    add-on-blur='true'
                    replace-spaces-with-dashes='true'
                    add-on-enter='true'>
                        <auto-complete source="marketsList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <div class="block-title-signup-top">
                    Fases Preferidas:
                </div>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-step-1 icon-medio icon-verde"></i>
                    <div class="signup-text-title">Ideia</div>
                    <label class="toggle toggle-positive toggle-ajust">
                        <input type="checkbox" ng-checked='search.investor.lookingForIdea' ng-click='search.investor.lookingForIdea = !search.investor.lookingForIdea;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-step-2 icon-medio icon-verde"></i>
                    <div class="signup-text-title">Prototipagem</div>
                    <label class="toggle toggle-positive toggle-ajust">
                        <input type="checkbox" ng-checked='search.investor.lookingForProtoProgress' ng-click='search.investor.lookingForProtoProgress = !search.investor.lookingForProtoProgress;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-step-3 icon-medio icon-verde"></i>
                    <div class="signup-text-title">Protótipo pronto</div>
                    <label class="toggle toggle-positive toggle-ajust">
                        <input type="checkbox" ng-checked='search.investor.lookingForProtoDone' ng-click='search.investor.lookingForProtoDone = !search.investor.lookingForProtoDone;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-step-4 icon-medio icon-verde"></i>
                    <div class="signup-text-title">Lançada</div>
                    <label class="toggle toggle-positive toggle-ajust">
                        <input type="checkbox" ng-checked='search.investor.lookingForStartupLaunched' ng-click='search.investor.lookingForStartupLaunched = !search.investor.lookingForStartupLaunched;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-toggle item-icon-left">
                    <i class="icon-left icon-step-5 icon-medio icon-verde"></i>
                    <div class="signup-text-title">Com receita</div>
                    <label class="toggle toggle-positive toggle-ajust">
                        <input type="checkbox" ng-checked='search.investor.lookingForProfitingStartup' ng-click='search.investor.lookingForProfitingStartup = !search.investor.lookingForProfitingStartup;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item">
                    <button class="button button-block button-positive" type="submit" ng-click="choose('result')">Pesquisar Investidores</button>
                </label>
            </div>
        </form>
        <!--<div class='list padding' style='padding-top:50px;' ng-hide='getKeyword()!=="result"' ng-show='getKeyword()==="result"'>
            <div card-explore-startup></div>
            <div card-explore-pro></div>
            <div card-explore-investor></div>
        </div>-->
        </ion-content>
</ion-view>
