<ion-view title="Meus favoritos" hide-back-button='true' style='background:#f2f2f2;'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side='right'>
    <a ng-href='#/app/messages' class="button button-icon icon ion-chatbubble-working"></a>
    <a ng-href='#/app/explore' class="button button-icon icon ion-ios7-search"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input type="search" placeholder="Procurar..." ng-model='keyword'>
        </label>
        <button class="button button-clear" ng-click='keyword=""'>
          Limpar 
        </button>
    </div>

    <div class='list padding'>
    <a
       ng-show='favorites.startup.length'
       ng-repeat="profile in favorites.startup"
       class="item item-custom item-startup item-thumbnail-left"
       href="#/app/profile/startup/{{profile.favorite._id}}" 
    >
      <div class="profile-image image-cover-center" back-img="{{profile.favorite.startup.avatar}}"></div>
      <h2 style="height:22px;">
        <span class="card-title">{{profile.favorite.startup.name}}</span>
        <span style="position: relative;top: -2px;">
          <i class="icon-step-1 icon-small-verde" ng-show="profile.favorite.startup.developmentStage === 0"></i>
          <i class="icon-step-2 icon-small-verde" ng-show="profile.favorite.startup.developmentStage === 1"></i>
          <i class="icon-step-3 icon-small-verde" ng-show="profile.favorite.startup.developmentStage === 2"></i>
          <i class="icon-step-4 icon-small-verde" ng-show="profile.favorite.startup.developmentStage === 3"></i>
          <i class="icon-step-5 icon-small-verde" ng-show="profile.favorite.startup.developmentStage === 4"></i>
        </span>
      </h2>
      <div class="card-content">
        <div class="description-dashboard">
          <div class="line-clamp">
            {{profile.favorite.startup.tagline}}
          </div>
        </div>
      </div> 
      <div class="oqueprocura">
        <i class="icon-search icon-lupa"></i>
        <div class="icon-small">
          <ul>
            <li><i class="icon-user icon-small-amarelo" ng-show="profile.favorite.startup.lookingForPros"></i></li>
            <li><i class="icon-user icon-small-azul" ng-show="profile.favorite.startup.lookingForInvestor"></i></li>
          </ul>
        </div>
      </div>
    </a>

    <a
      ng-repeat="profile in favorites.professional"
      ng-show='favorites.professional.length'
      class="item item-custom item-pro item-thumbnail-left"
      href="#/app/profile/professional/{{profile.favorite.professional._id}}"
    >
      <div class="profile-image image-cover-center" back-img="{{profile.favorite.professional.avatar}}"></div>
      <h2 class="card-title">{{profile.favorite.professional.name}}</h2>
      <div>
        <div class="card-content">
          <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.favorite.professional.city}}</div>
          <div class="tag tag-small" ng-repeat="expertise in profile.favorite.professional.expertise">{{expertise}}</div>
        </div>
      </div>
      <div class="oqueprocura">
        <i class="icon-search icon-lupa"></i>
        <div class="icon-small">
          <ul>
            <li><i class="icon-equity icon-small-amarelo" ng-show="profile.favorite.professional.lookingForEquity"></i></li>
            <li><i class="icon-cash icon-small-amarelo" ng-show="profile.favorite.professional.lookingForCash"></i></li>
          </ul>  
        </div>
      </div>
    </a>

    <a 
      ng-repeat="profile in favorites.investor"
      ng-show="favorites.investor.length"
      class="item item-custom item-investor item-thumbnail-left"
      href="#/app/profile/investor/{{profile._id}}"
    >
      <div class="profile-image image-cover-center" back-img="{{profile.favorite.investor.avatar}}"></div>
      <h2 class="card-title">{{profile.favorite.investor.name}}</h2>
      <div>
        <div class="card-content">
          <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.favorite.investor.city}}</div>
          <div class="tag tag-small" ng-repeat="market in profile.favorite.investor.favoriteMarket">{{market}}</div>
        </div>
      </div>
      <div class="oqueprocura">
        <i class="icon-search icon-lupa"></i>
        <div class="icon-small">
          <ul>
            <li><i class="icon-step-1 icon-small-verde" ng-show="profile.favorite.investor.lookingForIdea"></i></li>
            <li><i class="icon-step-2 icon-small-verde" ng-show="profile.favorite.investor.lookingForProtoProgress"></i></li>
            <li><i class="icon-step-3 icon-small-verde" ng-show="profile.favorite.investor.lookingForProtoDone"></i></li>
            <li><i class="icon-step-4 icon-small-verde" ng-show="profile.favorite.investor.lookingForStartupLaunched"></i></li>
            <li><i class="icon-step-5 icon-small-verde" ng-show="profile.favorite.investor.lookingForProfitingStartup"></i></li>
          </ul>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>
