<ion-view title="Até breve!" hide-back-button='true'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding='true'>
    <p>Saindo...</p>
  </ion-content>
</ion-view>
