<ion-nav-buttons side='right'>
	<a ng-show='editMode && type == "startup"' class="button button-icon icon ion-person-add" ng-href='#/app/profile/search/member/{{type}}/{{profile._id}}' style="position:relative; left:5px;"></a>    
    <a ng-show='editMode' class="button button-icon icon ion-ios7-compose-outline" ng-href='#/app/profile/edit/{{type}}/{{profile._id}}'></a>    
</ion-nav-buttons>
