<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-dark nav-title-slide-ios7">
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i>  <span class="voltar">Voltar</span>
            </ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left" class='custom-menu' syle='padding:none;'>
        <ion-content class="has-header" style='margin-top:-43.9px;'>
            <div class="profile-short-info" style='display:block;min-height:120px;max-width:275px;text-overflow:ellipsis;overflow:hidden;padding-right:10px;margin-bottom:70px;' ng-show='(model.startup.avatar || (!model.professional.avatar || (!model.investor.avatar)))'>
                <div class="menu-profile-image image-cover-center" back-img="{{(model.startup.avatar || (model.professional.avatar || (model.investor.avatar)))}}"></div>
                <!--<img ng-src="{{(model.startup.avatar || (model.professional.avatar || (model.investor.avatar)))}}" width='38%' style='float:left;margin-left:10px;margin-top:10.9px;margin-right:5px;'>-->
                <h4 class="light" style='color:white;'>
         {{(model.startup.name || (model.professional.name || (model.investor.name)))}} 
       </h4>
            </div>

            <a class='item item-icon-left normalized' style='position:relative; top:{{fixSair}};background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/logout">
                <i class='icon'><img src='img/logout-icon.png' width='20px' height='20px'></i>
                <div class="ajust-title-menu">Sair</div>
            </a>

            <ion-list style="position: relative;top: -104px;">
                <a class='item item-icon-left item-icon-right normalized' style='background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/dashboard">
                    <i class='icon ion-ios7-home-outline' style='margin-left:-5px;'></i>
                    <div class="ajust-title-menu">Inicio</div>
                    <i class='icon ion-ios7-arrow-right'></i>
                </a>
                <a class='item item-icon-left item-icon-right normalized' style='background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/profile">
                    <i class='icon'><img src='img/profiles-icon.png' width='20px' height='20px'></i>
                    <div class="ajust-title-menu">
                        <span ng-show="!(profiles_count > 1)">Meu Perfil</span>
                        <span ng-show="profiles_count > 1">Meus Perfis</span>
                    </div>
                    <i class='icon ion-ios7-arrow-right'></i>
                </a>
                <a class='item item-icon-left item-icon-right normalized' style='background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/register/add">
                    <i class='icon'><img src='img/profiles-icon.png' width='20px' height='20px'></i>
                    <div class="ajust-title-menu">Adicionar Perfil</div>
                    <i class='icon ion-ios7-arrow-right'></i>
                </a>
                <a class='item item-icon-left item-icon-right normalized' style='background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/favorites">
                    <i class='icon'><img src='img/white-star-icon.png' width='20px' height='20px'></i>
                    <div class="ajust-title-menu">Favoritos</div>
                    <i class='icon ion-ios7-arrow-right'></i>
                </a>

                <a class='item item-icon-left item-icon-right normalzed' style='background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/about">
                    <i class='icon'><img src='img/about-icon.png' width='20px' height='20px'></i>
                    <div class="ajust-title-menu" style="position:relative; top:4px;">Sobre o Linkzter</div>
                    <i class='icon ion-ios7-arrow-right'></i>
                </a>
                <a class='item item-icon-left item-icon-right normalzed' style='background:none;border:none;border-bottom: 1px solid #4f4f4f;color:white;' nav-clear menu-close href="#/app/contact">
                    <i class='icon ion-ios7-email-outline' style='margin-left:-5px;'></i>
                    <div class="ajust-title-menu" style="position:relative; top:4px;">Feedback</div>
                    <i class='icon ion-ios7-arrow-right'></i>
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
