<ion-view cache-view="false" title="{{getCurrentProfileName()}}" style="background:#f2f2f2;">
    <ion-content class="has-header" >
        <div class="chat" ng-init='lastDate=null'>
            <div ng-repeat="message in conversation | orderBy:'updated_at'">
                <div class="data-message" ng-if="(conversation[$index-1].updated_at | formatNiceDate) != (message.updated_at | formatNiceDate) || $index == 0">
                    {{ message.updated_at | formatNiceDate }}
                </div>

                <ul class="message">
                    <li>
                        <div class="title-message">
                            <span class="chat-offline" ng-show="message.from._id != other_guy_id">•</span>
                            {{ (message.from | getCurrentProfile).name }}
                        </div>
                        {{ message.content }}
                    </li>
                    <li>
                        <div class="time-message">
                            {{ message.updated_at | date:'HH:mm' }}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer item-input-inset">
        <label class="item-input-wrapper" style="background:#fff !important;">
            <i class="icon ion-ios7-chat placeholder-icon"></i>
            <input type="text" placeholder="..." class="ng-pristine ng-valid" ng-model="messageContent">
        </label>
        <button class="button button-clear" ng-click="sendMessage()">Enviar</button>
    </div>
</ion-view>
