<div class="list card" style="margin-bottom:10px; margin-top:0px;">
    <div class="item tabs tabs-secondary tabs-icon-left">
        <button ng-click='goto_state("app.message", {type: profile.type, profileId: profile.profile_id._id, name: profile.name})' class="tab-item" ng-disabled='is_mensagem_disabled()'>
            <i class="icon icon-message icon-tabs" style="position:relative; top:1px;"></i>
            mensagem
        </button>

        <button class="tab-item" ng-click='hasFavorite ? unfavorite(profile) : favorite(profile)' ng-disabled='profile.stealth'>
            <i class="icon icon-favorite icon-tabs" style="position:relative; top:0px;"></i>
            {{hasFavorite ? "favoritado" : "favoritar"}}
        </button>

        <button class="tab-item" ng-click='hasRecommend ? unrecommend(profile) : recommend(profile)' ng-disabled='profile.stealth'>
            <i class="icon icon-recomendation icon-tabs" style="position:relative; top:1px;"></i>
            {{hasRecommend ? "recomendado" : "recomendar"}}
        </button>
    </div>
</div>
