<ion-view title='Startup' style='background:#f2f2f2;'>
    <div menu-tools ng-init='type="startup"'></div>

    <ion-content class="has-header">
        <div class="perfil-topo" style='background:url(/img/bg_startup.jpg);'>
            <div class="perfil-foto">
                <div class="profile-image image-cover-center" back-img="{{profile.avatar.replace('162.209.79.99', '23.253.108.143')}}"></div>
            </div>
            <div class="perfil-descricao">
                <div class="perfil-titulo">{{profile.name}}</div>
                <div class="perfil-local">{{profile.location}}</div>
                <div class="perfil-site">{{profile.site}}</div>
                <div class="perfil-tagline" ng-show="profile.tagline">
                    {{profile.tagline}}
                </div>
            </div>
        </div>

        <div profile-actions ng-hide="editMode"></div>

        <div class="block no-padding">
            <div class="perfil-descricao-detalhada" style="margin-top:10px;" ng-show="(profile.description || (profile.market.length > 0))">
                <p ng-show="profile.description">
                    {{profile.description}}
                </p>
                <div ng-show='profile.market.length > 0'>
                    <p class="tag" ng-repeat='market in profile.market'>{{market}}</p>
                </div>
            </div>

        </div>

        <div recommendations></div>

        <div class="block">
            Fase: {{getStageName().label}}
            <div class="fase-startup">
                <ul>
                    <li>
                        <i class="icon-step-1 icon-verde icon-medio" ng-class='profile.developmentStage === 0 ? "icon-medium-active" : "icon-medium-no-active"'></i>
                    </li>

                    <li>
                        <i class="icon-step-2 icon-verde icon-medio" ng-class='profile.developmentStage === 1 ? "icon-medium-active" : "icon-medium-no-active"'></i>
                    </li>

                    <li>
                        <i class="icon-step-3 icon-verde icon-medio" ng-class='profile.developmentStage === 2 ? "icon-medium-active" : "icon-medium-no-active"'></i>
                    </li>

                    <li>
                        <i class="icon-step-4 icon-verde icon-medio" ng-class='profile.developmentStage === 3 ? "icon-medium-active" : "icon-medium-no-active"'></i>
                    </li>

                    <li>
                        <i class="icon-step-5 icon-verde icon-medio" ng-class='profile.developmentStage === 4 ? "icon-medium-active" : "icon-medium-no-active"'></i>
                    </li>
                </ul>
            </div>
        </div>


        <div class="block-title" ng-show='profile.lookingForPros || profile.lookingForInvestor'>
            buscando:
        </div>

        <div searching-for ng-show='profile.lookingForPros || profile.lookingForInvestor'></div>

        <div class="block no-padding">
            <div class="item item-icon-left" ng-show='profile.lookingForInvestor'>
                <i class="icon icon-user icon-azul icon-list-medio"></i>
                <div class="item-icon-text">Investidores</div>
            </div>
        </div>

        <div class="block-title">
            equipe:
        </div>

        <div class="block no-padding">
            <a class="item item-custom item-pro item-thumbnail-left" href="#/app/profile/professional/{{profile.profile_id.professional._id}}">
                <div class="profile-image image-cover-center" back-img="{{profile.profile_id.professional.avatar}}"></div>
                <h2 class="card-title">{{profile.profile_id.professional.name}}</h2>
                <div>
                    <div class="card-content">
                        <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.location}} </div>
                        <div class="tag tag-small" ng-repeat="expertise in profile.profile_id.professional.expertise">{{expertise}}</div>
                    </div>
                </div>
                <div class="oqueprocura">
                    <i class="icon-search icon-lupa"></i>
                    <div class="icon-small">
                        <i class="icon-equity icon-small-amarelo" ng-show="profile.profile_id.professional.lookingForEquity"></i>
                        <i class="icon-cash icon-small-amarelo" ng-show="profile.profile_id.professional.lookingForCash"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="block no-padding" ng-repeat="pro in profile.actual_team">
            <a class="item item-custom item-pro item-thumbnail-left"
               href="#/app/profile/professional/{{pro._id}}"
            >
                <div class="profile-image image-cover-center" back-img="{{pro.avatar}}"></div>
                <h2 class="card-title">{{pro.name}}</h2>
                <div>
                    <div class="card-content">
                        <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{pro.location}} </div>
                        <div class="tag tag-small" ng-repeat="expertise in pro.expertise">{{expertise}}</div>
                    </div>
                </div>
                <div class="oqueprocura">
                    <i class="icon-search icon-lupa"></i>
                    <div class="icon-small">
                        <i class="icon-equity icon-small-amarelo" ng-show="pro.lookingForEquity"></i>
                        <i class="icon-cash icon-small-amarelo" ng-show="pro.lookingForCash"></i>
                    </div>
                </div>
            </a>
        </div>

        <div class="block-title" ng-show="profile.actual_investor_team.length">
            <span ng-show="profile.actual_investor_team.length == 1">Investidor:</span>
            <span ng-show="profile.actual_investor_team.length > 1">Investidores:</span>
        </div>

        <div class="block no-padding">
          <a 
            ng-repeat="investor in profile.actual_investor_team"
            ng-init="investor.type='investor'"
            class="item item-custom item-investor item-thumbnail-left"
            href="#/app/profile/investor/{{investor._id}}"
          >
           <div class="profile-image image-cover-center" back-img="{{investor.avatar}}"></div>
           <h2 class="card-title">{{investor.name}}</h2>
             <div>
               <div class="card-content">
                  <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{investor.location}}</div>
                   <div class="tag tag-small" ng-repeat="market in investor.favoriteMarket">{{market}}</div>
                </div>
              </div>
              <div class="oqueprocura">
                <i class="icon-search icon-lupa"></i>
                <div class="icon-small">
                  <ul>
                    <li><i class="icon-step-1 icon-small-verde" ng-show="investor.lookingForIdea"></i></li>
                    <li><i class="icon-step-2 icon-small-verde" ng-show="investor.lookingForProtoProgress"></i></li>
                    <li><i class="icon-step-3 icon-small-verde" ng-show="investor.lookingForProtoDone"></i></li>
                    <li><i class="icon-step-4 icon-small-verde" ng-show="investor.lookingForStartupLaunched"></i></li>
                    <li><i class="icon-step-5 icon-small-verde" ng-show="investor.lookingForProfitingStartup"></i></li>
                  </ul>
                </div>
            </div>
          </a>
        </div>
        <br><br>
    </ion-content>
</ion-view>
