<div class="modal">
    <ion-header-bar class='bar-dark'>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios7-arrow-back"></i> Voltar
            </button>
        </div>

        <h1 class="title">+Investidor</h1>
    </ion-header-bar>
    <ion-content>

        <!-- inicia o form -->

        <form name="profileForm" ng-init='currentType = "investidor"'>
            <br>
            <ion-list>
                <img ng-src='{{profile.investor.avatar}}' ng-init='hasAvatar=profile.avatar; profile.investor.avatar=profile.avatar' ng-show='hasAvatar' style='margin:0 auto;max-width:200px;max-height:200px;display:block;'>
            </ion-list>

            <progress id="progressBar" value="{{barProgress}}" max="100" style="display:none"></progress>

            <br>
            <label class="item no-border-top">
                <input type="file" class='button button-block button-clear button-upload' ng-file-select='onFileSelect($files, profiles.investor.name)' multiple accept='image/*'></input>
            </label>


            <!-- IMPUT DE TEXTO -->

            <label class="item no-border-top item-input item-floating-label">
                <span class="input-label">Nome:</span>
                <input placeholder='Nome:' type="text" name="inputName" ng-init="profile.investor.name=profile.name" ng-model="profile.investor.name" required>
            </label>

            <label class="item no-border-top item-input item-floating-label">
                <span class="input-label">Local:</span>
                <input placeholder='Local:' type="text" name="inputLocation" ng-init="profile.investor.location=profile.location" ng-model="profile.investor.location" required>
            </label>



            <label class="item no-border-top item-input item-floating-label">
                <span class="input-label">Sobre mim (max. 90 caracteres):</span>
                <textarea placeholder='Sobre mim (max. 90 caracteres):' name="inputDescription" style="height:25px" ng-init="profile.investor.description=profile.description" ng-model="profile.investor.description" maxlength="90"></textarea>
            </label>

            <label class="item no-border-top item-input item-floating-label">
                <tags-input placeholder='Mercados Preferidos:' name="inputFavoriteMarket" min-tags="1" ng-init="profile.investor.favoriteMarket=profile.favoriteMarket" ng-model='profile.investor.favoriteMarket' add-on-comma='true' replace-spaces-with-dashes='true' required>
                    <!--<auto-complete source="marketList($query)" max-results-to-show='3'></auto-complete>-->
                </tags-input>
            </label>

            <div class="block-title-signup">
                Investment Range:
            </div>

            <div class="row" style="margin-top:-10px;">
                <div class="col">
                    <label class="item item-input">

                        <input placeholder='Mínimo' type="number" name="inputMinTimentRange" ng-init="profile.investor.minInvestimentRange=profile.minInvestimentRange" ng-model="profile.investor.minInvestimentRange" required>
                    </label>


                </div>
                <div class="col">
                    <label class="item item-input">

                        <input placeholder='Máximo' type="number" name="inputMaxTimentRange" ng-init="profile.investor.maxInvestimentRange=profile.maxInvestimentRange" ng-model="profile.investor.maxInvestimentRange" required>
                    </label>
                </div>
            </div>

            <!-- FIM DOS INPUTS DE TEXTO -->

            <label class="item item-toggle item-icon-left" style="margin-top:10px;">
                <i class="icon-left icon-hidden icon-medio"></i>
                <div class="signup-text-title">Ocultar esta informação</div>
                <label class="toggle toggle-positive toggle-ajust-perfil-oculto">
                    <input type="checkbox" ng-init='profile.investor.investimentRangeStealthMode = profile.investimentRangeStealthMode;' ng-click='profile.investor.investimentRangeStealthMode = !profile.investor.investimentRangeStealthMode;' ng-checked="profile.investimentRangeStealthMode">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <div class="block-title-signup-top">
                FASES PREFERIDAS:
            </div>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-1 icon-medio icon-verde"></i>
                <div class="signup-text-title">Ideia</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForIdea = profile.lookingForIdea;' ng-click='profile.investor.lookingForIdea = !profile.investor.lookingForIdea;' ng-checked="profile.lookingForIdea">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-2 icon-medio icon-verde"></i>
                <div class="signup-text-title">Prototipagem</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForProtoProgress = profile.lookingForProtoProgress;' ng-click='profile.investor.lookingForProtoProgress = !profile.investor.lookingForProtoProgress;' ng-checked="profile.lookingForProtoProgress">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-3 icon-medio icon-verde"></i>
                <div class="signup-text-title">Protótipo pronto</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForProtoDone = profile.lookingForProtoDone;' ng-click='profile.investor.lookingForProtoDone = !profile.investor.lookingForProtoDone;' ng-checked="profile.lookingForProtoDone">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-4 icon-medio icon-verde"></i>
                <div class="signup-text-title">Lançada</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForStartupLaunched = profile.lookingForStartupLaunched;' ng-click='profile.investor.lookingForStartupLaunched = !profile.investor.lookingForStartupLaunched;' ng-checked="profile.lookingForStartupLaunched">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-5 icon-medio icon-verde"></i>
                <div class="signup-text-title">Com receita</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForProfitingStartup = profile.lookingForProfitingStartup;' ng-click='profile.investor.lookingForProfitingStartup = !profile.investor.lookingForProfitingStartup;' ng-checked="profile.lookingForProfitingStartup">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <!-- <br>

          <label class="item item-toggle item-icon-left">
            <i class="icon-left icon-hidden icon-medio"></i>
            <div class="signup-text-title">Perfil oculto</div>
            <label class="toggle toggle-positive toggle-ajust-perfil-oculto">
               <input type="checkbox" ng-init='profile.investor.profileStealthMode = false;' ng-click='profile.investor.profileStealthMode = !profile.investor.profileStealthMode;'>
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </label> -->

            <!-- BOTAO CADASTRO -->

            <label class="item">
                <button class="button button-block button-positive" type="button" ng-disabled="profileForm.$invalid" ng-init='profile.isValid=profileForm.$valid;profile.isInvalid=profileForm.$invalid;' ng-click='profileForm.$valid && edit("investor")'>
                    <span ng-show="profileForm.$invalid">Preencha todos os campos</span>
                    <span ng-show="profileForm.$valid">Salvar</span>
                </button>
            </label>


        </form>

        <!-- fim do form -->


    </ion-content>
</div>