<ion-view title='Investidor' style='background:#f2f2f2;'>
  <div menu-tools ng-init='type="investor"'></div>

  <ion-content class="has-header">

    <div class="perfil-topo" style='background:url(/img/bg_investidor.jpg);'>
      <div class="perfil-foto">
        <div class="profile-image image-cover-center" back-img="{{profile.avatar.replace('162.209.79.99', '23.253.108.143')}}"></div>        
      </div>
      <div class="perfil-descricao">
        <div class="perfil-titulo" ng-show="profile.name">{{profile.name}}</div>
        <div class="perfil-local" ng-show="profile.location">{{profile.location}}</div>
        <div class="perfil-tagline" ng-show="profile.tagline">{{profile.tagline}}</div>
      </div>
    </div>

    <div profile-actions ng-hide="editMode"></div>

    <div class="block no-padding">
      <div class="perfil-descricao-detalhada" style="margin-top:10px;" ng-show="(profile.description || (profile.expertise.length > 0))">
        <p ng-show="profile.description">
          {{profile.description}}
        </p> 
        <div ng-show='profile.expertise.length > 0'>
          <p class="tag" ng-repeat='expertise in profile.expertise'>{{expertise}}</p>
        </div>
      </div>
      
    </div>

    <div recommendations></div> 

    <div class="block-title">
      mercados preferidos:
    </div>

    <div class="block no-padding">
      <div class="item-tags" ng-show='profile.favoriteMarket.length > 0'>
        <p class="tag tag-market" ng-repeat='market in profile.favoriteMarket'>{{market}}</p>
      </div>
    </div>

    <div class="block-title">
      fases preferidas:
    </div>

    <div class="block">
      <div class="fase-startup">
        <ul>
          <li>
            <i class="icon-step-1 icon-verde icon-medio" ng-class='profile.lookingForIdea ? "icon-medium-active" : "icon-medium-no-active"'></i>
          </li>
          
          <li>
            <i class="icon-step-2 icon-verde icon-medio" ng-class='profile.lookingForProtoProgress ? "icon-medium-active" : "icon-medium-no-active"'></i>
          </li>

          <li>
            <i class="icon-step-3 icon-verde icon-medio" ng-class='profile.lookingForProtoDone ? "icon-medium-active" : "icon-medium-no-active"'></i>
          </li>

          <li>
            <i class="icon-step-4 icon-verde icon-medio" ng-class='profile.lookingForStartupLaunched ? "icon-medium-active" : "icon-medium-no-active"'></i>
          </li>

          <li>
            <i class="icon-step-5 icon-verde icon-medio" ng-class='profile.lookingForProfitingStartup ? "icon-medium-active" : "icon-medium-no-active"'></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="block-title" ng-show="profile.team || profile.profile_id.startup._id">
      <span ng-show="!(profile.team.length > 1 || (profile.profile_id.startup._id && profile.team.length > 0))">Startup:</span>
      <span ng-show="profile.team.length > 1 || (profile.profile_id.startup._id && profile.team.length > 0)">Startups:</span>
    </div>

    <div class="block no-padding">
      <a
       ng-repeat="profile_startup in profile.team"
       class="item item-custom item-startup item-thumbnail-left"
       href="#/app/profile/startup/{{profile_startup._id}}"
      >
        <div class="profile-image image-cover-center" back-img="{{profile_startup.avatar}}"></div>
        <h2 style="height:22px;">
          <span class="card-title">{{profile_startup.name}}</span>
          <span style="position: relative;top: -2px;">
            <i class="icon-step-1 icon-small-verde" ng-show="profile_startup.developmentStage === 0"></i>
            <i class="icon-step-2 icon-small-verde" ng-show="profile_startup.developmentStage === 1"></i>
            <i class="icon-step-3 icon-small-verde" ng-show="profile_startup.developmentStage === 2"></i>
            <i class="icon-step-4 icon-small-verde" ng-show="profile_startup.developmentStage === 3"></i>
            <i class="icon-step-5 icon-small-verde" ng-show="profile_startup.developmentStage === 4"></i>
          </span>
        </h2>
        <div class="card-content">
          <div class="description-dashboard">
            <div class="line-clamp">
              {{profile_startup.tagline || profile_startup.description}}
            </div>
          </div>
        </div> 
        <div class="oqueprocura">
          <i class="icon-search icon-lupa"></i>
          <div class="icon-small">
            <ul>
              <li><i class="icon-user icon-small-amarelo" ng-show="profile_startup.lookingForPros"></i></li>
              <li><i class="icon-user icon-small-azul" ng-show="profile_startup.lookingForInvestor"></i></li>
            </ul>
          </div>
        </div>
      </a>
    </div>

  </ion-content>
</ion-view>
