<div class="block no-padding" ng-show='recommendationCounter'>
  <div class="item item-icon-left">
    <i class="icon icon-recomendation perfil-icon-recomendacoes"></i>
    <div class="perfil-text-recomendacoes">{{recommendationCounter || 0}} {{recommendationCounter > 1 ? "Recomendações" : "Recomendação"}}</div>
  </div>
</div>