<ion-view title="Registrar" hide-back-button='true' animate='fade-in' class='fade-in animated fadeInUp'>
  <ion-nav-buttons side="left" hide='true'>
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding-content">
    <h1 class='light animated fadeInUp padding-right' style='margin-top:42px;'>
      {{currentUser.name}}, <br />
      Bem vindo ao Linkzter 
    </h1>
    <br />
    <h3 class='light animated fadeInUp padding-right'>Escolha um perfil:</h3>

    <ion-list class='register-menu animated fadeInUp' style="margin-left:15px;margin-right:20px;">
      <ion-item
       class='item-icon-left item-icon-right custom animated fadeInUp'
       ng-repeat='profile in profiles'
       ng-click='enableState($index, profile.name)'
       ng-if="isProfileAuthenticated"
       ng-hide='profileAction == "add" && profileKeys.indexOf(profile.full_name) > -1'
      >
        <i class='icon custom-icon'><img ng-src='{{profile.icon}}' width='65%'></i>
        <h2 class='normal'>{{profile.title}}</h2>
        <i class='ion-ios7-arrow-forward custom-icon-right'></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
