/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #4a87ee !default;
$calm:                            #43cee6 !default;
$balanced:                        #66cc33 !default;
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path:"../lib/ionic/fonts" !default;
@import "www/lib/ionic/scss/ionic";

/* VARIABLES COLORS */

 $yellow:#fbb040;
 $blue:#0066a4;
 $green:#449340;
 $defaultText:#656565;

/********************/

@font-face {
    font-family: 'HelveticaNeueLTStd-Bd';
    src: url("fonts/HelveticaNeueLTStd-Bd.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url("fonts/HelveticaNeueLTStd-Lt.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Md';
    src: url("fonts/HelveticaNeueLTStd-Md.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeueLTStd-Roman';
    src: url("fonts/HelveticaNeueLTStd-Roman.ttf");
    font-weight: normal;
    font-style: normal;
}
// Include all of Ionic
 * {
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
}
.yellow {
    color: $yellow;
}
.blue {
    color: $blue;
}
.green {
    color: $green;
}
.light {
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
    font-weight: 100;
    color: $defaultText;
}
.nomalized {
    font-family: 'HelveticaNeueLTStd-Lt', sans-serif;
    font-weight: 700;
}
.normal {
    font-weight: normal !important;
    color: $defaultText;
}
.intro {
    -webkit-background-size: cover;
    background-size: cover;
}
.intro-menu {
    display: block;
    width: 300px;
    margin: 0 auto;
}
.ajust-title-menu {
    position: relative;
    top: 5px;
}
.social-btn {
    display: inline block;
    cursor: pointer;
    margin: 5px 0;
    border: none;
}
.bar-header,
.bar .title {
    height: 46px !important;
}
.social-linkedin {
    background: url('../img/btn-signin-linkedin.png');
    background-size: 280px 40px;
    background-repeat: no-repeat;
    text-indent: -99999px;
    display: block;
    width: 100%;
    height: 40px;
}
.social-facebook {
    background: url('../img/btn-signin-facebook.png');
    background-size: 280px 40px;
    background-repeat: no-repeat;
    text-indent: -99999px;
    display: block;
    width: 100%;
    height: 40px;
}
.social-google {
    background: url('../img/btn-signin-google.png');
    background-size: 280px 40px;
    background-repeat: no-repeat;
    text-indent: -99999px;
    display: block;
    width: 100%;
    height: 40px;
}
.social-github {
    background: url('../img/btn-signin-github.png');
    background-size: 280px 40px;
    background-repeat: no-repeat;
    text-indent: -99999px;
    display: block;
    width: 100%;
    height: 40px;
}
.icon-amarelo {
    background: $yellow !important;
    color: white;
}
.icon-azul {
    background: $blue !important;
    color: white;
}
.icon-verde {
    background: $green !important;
    color: white;
}
.icon-list-medio {
    margin-top: 12px;
    width: 29px !important;
    height: 29px !important;
    text-align: center;
    font-size: 16px !important;
    border-radius: 100px;
}
.icon-medio {
    width: 49px !important;
    height: 49px !important;
    text-align: center;
    padding: 5px;
    font-size: 16px !important;
    border-radius: 100px;
}
.no-padding {
    padding: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
}
.no-border-top {
    border-top: none !important;
    position: relative !important;
    top: -10px !important;
}
.icon-radio {
    position: relative !important;
    top: -5px !important;
}
.icon-left {
    position: relative !important;
    left: -38px !important;
}
.radio-text-title {
    position: relative !important;
    top: -28px !important;
    left: 35px;
}
.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}
.text-justify {
    text-align: justify !important;
    text-align-left: left !important;
}
.topo {
    border-color: #111 !important;
    background-color: #444444 !important;
    background-image: linear-gradient(0deg, #111, #111 50%, transparent 50%) !important;
    color: #fff !important;
}
.logo {
    margin-top: 13px;
    /*margin-left: -30px;*/
}

.logo-intro {
    max-width: 280px;
    position: relative;
}
/* PERFIL TOPO */

.perfil-topo {
    padding: 10px;
    height: 100%;
    min-height: 120px;

    .profile-image {
        width: 101px;
        height: 101px;
        float:left;
        margin-right:7px;
    }
}
.perfil-foto {
    width: 120px;
}
.perfil-descricao {
    width: 290px;
    text-align: left;
    margin-left: 10px;
    text-align-last: left;
}
.perfil-titulo {
    color: white !important;
    font-weight: 900 !important;
    font-size: 18px !important;
    margin-top: 5px;
}
.perfil-local {
    color: white !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    margin-top: -3px;
}
.perfil-site {
    color: white !important;
}
.perfil-tagline {
    width: 300px;
    color: white !important;
    text-align: left !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 15px;
    margin-top: 5px;
}
/* FIM PERFIL TOPO */

/* CADASTRO */

.cadastro-avatar {
    margin: 0 auto;
    max-width: 200px !important;
    max-height: 200px !important;
    display: block;
}
.item-toggle {
    height: 50px !important;
}
.sub-item-profisisonais {
    margin-top: 10px;
}
/* FIM CADASTRO */

.block {
    background: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.block-title {
    color: black;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 1px;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.block-title-signup {
    color: black;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 8px;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.block-title-signup-top {
    color: black;
    text-transform: uppercase;
    padding-top: 5px;
    padding-left: 10px;
    width: 94%;
    margin: 10px auto;
    margin-bottom: 10px;
}
.perfil-descricao-detalhada {
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
    text-align: justify;
}
.item-icon-text {
    position: relative;
    top: 3px;
}
.fase-startup {
    ul {
        width: 290px;
        margin: 10px auto;
        list-style: none;
        li {
            display: inline;
            margin-right: 10px;
        }
        li:after {
            content: ".....";
            position: relative;
            left: 5px;
            top: -5px;
        }
        li:nth-child(5):after {
            content: "";
        }
    }
}
.perfil-icon-recomendacoes {
    font-size: 14px !important;
}
.perfil-text-recomendacoes {
    font-size: 16px !important;
    position: relative;
    left: -10px;
    top: 2px;
}
.tab-item .icon {
    font-size: 10px !important;
}
.tab-item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    overflow: hidden;
    max-width: 150px;
    height: 100%;
    color: inherit;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    opacity: 0.7;
    line-height: 48px;
    background-color: #fff;
    border: 0;
    border-right: 1px solid #ccc;
    padding: 0;
}
.card-title {
    color: $defaultText !important;
    font-weight: 400 !important;
    font-size: 16px !important;
}
.custom {
    border: none;
    margin-bottom: 1px;
    padding-top: 0px;
    padding-bottom: 22px;
    padding-left: 0px;
    border-bottom: 1px solid #CCCBCF;
}
.custom h2 {
    font-weight: 100;
    position: relative;
    top: 27px;
    left: 0px;
}
.custom-icon {
    display: inline block;
    float: left;
    left: 0px !important;
}
.custom-icon-right {
    position: relative;
    float: right;
    right: -47px !important;
    top: 1px;
    font-size: 25px;
    color: $defaultText;
}
.voltar {
    position: relative;
    top: 3px;
}
.custom-menu {
    background: url("../img/bg-menu.png");
    background-color: rgba(0, 0, 0, 0.7);

    .menu-profile-image {
        width:101px;
        height:101px;
        float:left;
        margin-left:10px;
        margin-top:10.9px;
        margin-right:5px;
    }
}
.item-custom {
    margin-top: 10px;
}
.item-icon-left {
    padding-left: 54px !important;
}
.item-divider {
    padding-top: 16px;
    padding-bottom: 0px;
    min-height: 30px;
    background-color: transparent !important;
    border-color: #f5f5f5 !important;
    color: #222;
    font-weight: 300;
    height: 35px;
    position: relative !important;
    top: 6px !important;
}
.item-divider-explore {
    font-size: 14px;
    padding-top: 14px;
    padding-bottom: 10px;
    min-height: 30px;
    background-color: #fff;
    border-bottom: 0px !important;
    color: #222;
    font-weight: 300;
}

.profile {
    position: relative !important;
    padding-top: 1px !important;
    padding-bottom: 1px !important;
    padding-left: 0 !important;
    margin-bottom: -45px !important;
    margin-top: 0px !important;
}
.profile-avatar {
    background: red;
    width: 100px;
    height: 100px;
    margin-left: -100px;
}
.profile-title {
    position: relative;
    top: -22px;
    left: 5px;
}
.profile-tags {
    position: relative;
    top: -27px;
    left: 5px;
}
.settings-title {
    position: relative;
    top: -34px;
    left: 43px;
}
.settings-investidor-title {
    position: relative;
    top: -21px;
    left: 10px;
}
.settings-investidor-title-perfil-oculto {
    position: relative;
    top: -28px;
    left: 0px;
}
.item.active,
.item.activated,
.item-complex.active .item-content,
.item-complex.activated .item-content,
.item .item-content.active,
.item .item-content.activated {
    border-color: #CCC;
    background-color: transparent !important;
}
.item-ajust {
    height: 54px;
}
.item-ajust-text {
    height: 100px;
}
.toggle-ajust {
    float: right;
    position: relative;
    top: -53px;
}
.toggle-ajust-perfil-oculto {
    float: right;
    position: relative;
    top: -58px;
}
.item-pro {
    border-left-color: $yellow;
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 3px;
}
.item-startup {
    border-left-color: $green;
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 3px;
}
.item-investor {
    border-left-color: $blue;
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 3px;
}
.custom-button-bar {} .custom-button-bar .button {
    font-size: 10px;
}
.custom-bar-header {
    box-shadow: 0 2px 1px #d2d2d2;
}
.custom-button:first-child {} .custom-button {
    border-left: 1px solid #f2f2f2 !important;
    font-size: 12.9px !important;
    color: #727272 !important;
    border-bottom: 4px solid red !important;
    border-bottom-right-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
    height: 45px;
}
.custom-button img {
    margin-bottom: 1px !important;
}
.custom-button .circle .startup {
    position: absolute !important;
    background: $green !important;
    width: 10px !important;
    height: 10px !important;
    display: block !important;
    top: 4px !important;
    left: 11px !important;
    border-radius: 7px !important;
}
.custom-button .circle .pro {
    background: $yellow;
}
.custom-button .circle .investor {
    background: $blue;
}
.description {
    font-size: 9px !important;
}
.description-dashboard {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
    color: $defaultText;
}
.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: initial !important;
}
.description-perfil {
    display: block;
    white-space: pre;
    margin-bottom: 0px;
    overflow: hidden;
    text-align: justify;
    font-size: 14px;
    color: White;
    line-height: 14px;
    position: relative;
    top: -2px;
}
.tag {
    border: 1px solid #eee;
    background: #fafafa;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    color: #212121;
    float: left;
    border: 1px solid #E0E0E0;
    margin-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.tag-market {
    background-color: #eeeeee;
}
.tag-small {
    font-size: 12px !important;
    margin-top: 2px;
    margin-right: 2px;
    padding-top: 0px;
    padding-right: px;
    padding-left: px;
    padding-bottom: 0px;
    height: 20px;
}
.oqueprocura {
    clear: both;
    position: relative;
    top: 4px;
    left: 3px;
    color: $defaultText;
}
.icon-tabs {
    font-size: 10px !important;
}
.icon-lupa {
    font-size: 12px;
}
.icon-lupa:after {
    content: "...";
    position: relative;
    left: 3px;
    top: -4px;
}
.settings-perfil-oculto {
    width: 80px;
    height: 80px;
    font-size: 25px;
    padding: 8px;
    color: $defaultText;
    border-radius: 100%;
    position: relative;
    left: -40px;
    top: -2px;
}
.icon-small-divider {
    width: 30px;
    position: relative;
    top: -7px;
    left: -40px;
    color: #666;
}
.estagio-perfil {
    width: 230px;
    margin: 0 auto;
    color: $defaultText;
}
.icon-small-no-active {
    opacity: 0.3 !important;
}
.ion-small-active {
    opacity: 1 !important;
}
.icon-medium-no-active {
    opacity: 0.3 !important;
}
.ion-medium-active {
    opacity: 1 !important;
}
.estagio {
    background: $green;
    width: 49px;
    height: 49px;
    padding: 8px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -40px;
    top: 0px;
}
.estagio-register {
    background: $green;
    width: 80px;
    height: 80px;
    font-size: 20px;
    padding: 8px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -5px;
    top: -10px;
}
.buscando {
    background: $blue;
    ;
    width: 49px;
    height: 49px;
    padding: 8px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -40px;
    top: 0px;
}
.aceita {
    background: $yellow;
    width: 49px;
    height: 49px;
    padding: 8px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -40px;
    top: 0px;
}
.item-aceitando {
    height: 90px;
    padding-bottom: 0px !important;
}
.aceitando {
    position: relative;
    top: -15px;
    left: -45px;
    .aceitando-title {
        position: relative;
        left: -143px;
        top: 5px;
        font-size: 14px;
    }
    .aceitando-icon {
        position: relative;
        left: 85px;
        top: -15px;
    }
    .aceitando-subtitle {
        font-size: 14px;
        position: relative;
        top: 1px;
    }
}
.azul {
    background: $blue;
    width: 49px;
    height: 49px;
    padding: 8px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -40px;
    top: 0px;
}
.icon-small {
    position: relative;
    left: 33px;
    top: -24px;

        ul {
            li {
                float:left;
                margin-right: 2px;
            }
        }
    
    /*i:nth-child(1n+4) {
        left: -10px;
    }

    i:nth-child(3n+2) {
        left: -5px;
    }

    i:nth-child(4n+1) {
        left: -5px;
    }

    i:nth-child(3) {
        left: -5px;    
    }

    i:first-child {
        left: 0 !important;
    }*/
}
.icon-small-azul {
    background: $blue;
    width: 0px;
    height: 0px;
    font-size: 10px;
    padding: 4px;
    color: white;
    border-radius: 100%;
    position: relative;
    top: 0px;
    margin: 0px;
}
.icon-small-amarelo {
    background: $yellow;
    width: 0px;
    height: 0px;
    font-size: 10px;
    padding: 4px;
    color: white;
    border-radius: 100%;
    position: relative;
    top: 0px;
    margin: 0px;
}
.icon-small-verde {
    background: $green;
    text-align: center;
    padding: 4px;
    font-size: 10px;
    color: white;
    border-radius: 100%;
    position: relative;
    top: 0px;
    margin: 0px;
}
.icon-medium-azul {
    background: $blue;
    width: 39px;
    height: 39px;
    padding: 6px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -45px;
    top: 3px;
}
.icon-medium-amarelo {
    background: $yellow;
    width: 39px;
    height: 39px;
    padding: 6px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -45px;
    top: 3px;
}
.icon-medium-verde {
    background: $green;
    width: 39px;
    height: 39px;
    padding: 6px;
    color: white;
    border-radius: 100%;
    position: relative;
    left: -45px;
    top: 3px;
}
.signup-text-title {
    position: relative;
    top: -22px;
    left: 0px;
}
.explore-text-title {
    position: relative;
    top: -20px;
    left: 0px;
}
.icon-search-for {
    float: left;
    margin-right: 7px;
}
.secondary {
    color: lightgray !important;
    border-bottom: none !important;
}
.item-bubble-self {
    background: #eeeeee;
    border-radius: 30px;
    padding: 5px 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex;
    float: left;
    clear: both;
}
.item-bubble-contact {
    background: #fd4;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex;
    padding: 5px 15px;
    float: right;
    clear: both;
}
.item-custom-bottom {
    position: absolute;
    bottom: -435px;
    border-top: 1px solid #4f4f4f !important;
    border-bottom: none !important;
    width: 100%;
}
.button-upload {
    color: transparent;
    border-color: none !important;
    background-color: none !important;
    margin: 0 auto;
    width: 280px;
}
.button-upload::-webkit-file-upload-button {
    -webkit-appearence: none;
    visibility: hidden;
}
.button-upload::before {
    content: 'Escolher uma imagem';
    color: #727272;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    text-align: center;
    margin-left: -5px;
    width: 100%;
}
.button-upload.startup-upload::before {
    content: 'Inserir logotipo';
}
.button:active {
    outline: 0;
}
.button:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.padding-content {
    padding-left: 15px;
    padding-right: 15px;
}
progress {
    background-color: #f3f3f3;
    border: 0;
    height: 10px;
    border-radius: 9px;
}
progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    height: 10px;
    border-radius: 9px;
}
progress::-webkit-progress-value {
    background-color: #444;
    border: 0;
    height: 10px;
    border-radius: 9px;
}
progress::-moz-progress-bar {
    background-color: #f3f3f3;
    border: 0;
    height: 10px;
    border-radius: 9px;
}
.no-padding {
    padding: 0px !important;
}
.tabs {
    width: 100%;
    height: 45px;
    background: #fff;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        li {
            float: left;
            width: 33.3%;
            height: 43px;
            text-align: center;
        }
        li:nth-child(1) {
            border-bottom: 2px solid $green;
        }
        li:nth-child(2) {
            border-bottom: 2px solid $yellow;
        }
        li:nth-child(3) {
            border-bottom: 2px solid $blue;
        }
        li:nth-child(1)::before {
            content: "•";
            color: $green;
        }
        li:nth-child(2)::before {
            content: "•";
            color: $yellow;
        }
        li:nth-child(3)::before {
            content: "•";
            color: $blue;
        }
        li:nth-child(1)::after {
            content: "|";
            color: #f1f1f1;
            float: right;
            font-size: 28px;
            font-weight: 100;
            position: relative;
            left: 2px;
        }
        li:nth-child(2)::after {
            content: "|";
            color: #f1f1f1;
            float: right;
            font-size: 28px;
            font-weight: 100;
            position: relative;
            left: 2px;
        }
    }
}
.tabs-icon-left.tabs .tab-item .icon:before,
.tabs-icon-left > .tabs .tab-item .icon:before,
.tabs-icon-right.tabs .tab-item .icon:before,
.tabs-icon-right > .tabs .tab-item .icon:before {
    font-size: 14px !important;
    line-height: 49px !important;
}
.register-menu {
    display: block;
    margin-bottom: 50px;
}
.stage-icon {
    float: left;
    margin-top: 9px;
    margin-left: 10px;
    padding: 5px 0;
}
.stage-content {
    padding-top: 26px !important;
}
.textarea {
    height: 29px;
    margin-top: 8px;
}
.item-radio input:checked ~ .item-content {
    background: none !important;
}
.item-custom {
    visibility: none;
}
element.style {} a.item {
    color: inherit;
    text-decoration: none;
}

.item.item-pro.item-thumbnail-left {
    .profile-image{
        width: 101px;
        height: 101px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.item .profile-image{
    width: 101px;
    height: 101px;
    position: absolute;
    top: 0px;
    left: 0px;

    .img70 {
        width: 70px;
        height: 70px;        
    }
}

.item-custom {
    visibility: none;
}
.item-startup {
    border-left-color: $green;
    border-left-width: 4px;
    border-left-style: solid;
    border-radius: 3px;
}
.item-custom {
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin-top: 10px;
    padding-top: 7px;
    padding-right: 10px;
    padding-bottom: 0px;
    border-style: solid;
    font-size: 16px;
    height: 103px;
}
.item-tags {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
}
.card-content {
    height: 44px;
    position: relative;
    top: -2px;
    word-wrap: break-word !important;
    overflow: hidden !important;
}
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
    position: absolute;
    top: 0px;
    left: 0px;
    max-width: 101px;
    max-height: 101px;
    /*width: 100%;*/
}
.item-thumbnail-left,
.item-thumbnail-left .item-content {
    padding-left: 106px;
    min-height: 100px;
}
.item,
.item h1,
.item h2,
.item h3,
.item h4,
.item h5,
.item h6,
.item p,
.item-content,
.item-content h1,
.item-content h2,
.item-content h3,
.item-content h4,
.item-content h5,
.item-content h6,
.item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tabs-icon-left.tabs .tab-item,
.tabs-icon-left > .tabs .tab-item,
.tabs-icon-right.tabs .tab-item,
.tabs-icon-right > .tabs .tab-item {
    font-size: 12px;
    border-right: 1px solid #ccc;
    i {
        font-size: 12px !important;
    }
}
.tabs-icon-left.tabs .tab-item,
.tabs-icon-left > .tabs .tab-item,
.tabs-icon-right.tabs .tab-item,
.tabs-icon-right > .tabs .tab-item:nth-child(3) {
    border-radius: none !important;
}
.tabs-icon-left.tabs .tab-item .icon:before,
.tabs-icon-left > .tabs .tab-item .icon:before,
.tabs-icon-right.tabs .tab-item .icon:before,
.tabs-icon-right > .tabs .tab-item .icon:before {
    font-size: 18px;
    line-height: 49px;
}
.item-input > input::-webkit-input-placeholder {
    position: relative !important;
    top: 4px;
}
.addSearch > input::-webkit-input-placeholder {
    position: relative !important;
    top: 0px !important;
}
textarea::-webkit-input-placeholder {
    position: relative !important;
    top: 4px;
}
tags-input .tags .input::-webkit-input-placeholder {
    position: relative !important;
    left: -3px !important;
}
.item-input {
    /* removed for autocomplete */
    /*height: 55px !important;*/
    min-height: 55px;
}
.col-95 {
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 10px;
}
.border-none {
    border: none !important;
    border-width: none !important;
}
.border-right-none {
    border-left: none !important;
    border-right: none !important;
    border-width: none !important;
}
.ajuste-top {
    margin-top: 0px;
}
.recomandacoes-card-left {
    margin-left: -45px !important;
    position: relative;
    top: 5px !important;
    color: $defaultText !important;
    font-size: 12px;
}
.recomandacoes-card-text {
    position: relative;
    top: 5px !important;
    left: 5px !important;
    color: $defaultText !important;
}
.recomandacoes-card-right {
    position: relative;
    top: 3px !important;
    right: 7px !important;
    color: $defaultText !important;
    font-size: 28px !important;
}
/* tags-input :: ng-tags-input */

tags-input *,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
tags-input .host {
    position: relative;
    /*margin-top: 5px;
  margin-bottom: 5px;*/
    margin-left: -10px;
    padding: 5px;
}
tags-input .host:active {
    outline: none;
}
tags-input .tags {
    padding: 1px;
    overflow: hidden;
    word-wrap: break-word;
    cursor: text;
    background-color: white;
    /*border: 1px solid darkgray;
  box-shadow: 1px 1px 1px 0 lightgray inset;*/
}
/*tags-input .tags.focused {
  outline: none;
  -webkit-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  -moz-box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
  box-shadow: 0 0 3px 1px rgba(5, 139, 242, 0.6);
}*/

tags-input .tags .tag-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
tags-input .tags .tag-item {
    margin: 2px;
    padding: 0 4px;
    display: inline-block;
    float: left;
    font: 14px"Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 26px;
    line-height: 25px;
    border: 1px solid #dadada;
    background: ghostwhite;
    border-radius: 5px;
    color: #212121;
    /*background: -webkit-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
  background: linear-gradient(to bottom, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);*/
}
tags-input .tags .tag-item.selected {
    background: -webkit-linear-gradient(top, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
    background: linear-gradient(to bottom, #febbbb 0%, #fe9090 45%, #ff5c5c 100%);
}
tags-input .tags .tag-item .remove-button {
    margin: 0 0 0 5px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    vertical-align: middle;
    font: bold 16px Arial, sans-serif;
    color: #585858;
}
tags-input .tags .tag-item .remove-button:active {
    color: red;
}
tags-input .tags .input {
    border: 0;
    outline: none;
    margin: 2px;
    padding: 0;
    padding-left: 5px;
    float: left;
    height: 26px;
    font: 14px"Helvetica Neue", Helvetica, Arial, sans-serif;
}
tags-input .tags .input.invalid-tag {
    color: red;
}
tags-input .tags .input::-ms-clear {
    display: none;
}
tags-input.ng-invalid .tags {
    -webkit-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
    box-shadow: 0 0 3px 1px rgba(255, 0, 0, 0.6);
}
tags-input .autocomplete {
    margin-top: 5px;
    /*position: absolute;*/
    z-index: 99999;
    padding: 5px 0;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
tags-input .autocomplete .suggestion-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
tags-input .autocomplete .suggestion-item {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font: 16px"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-color: white;
}
tags-input .autocomplete .suggestion-item.selected {
    color: white;
    background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item.selected em {
    color: white;
    background-color: #0097cf;
}
tags-input .autocomplete .suggestion-item em {
  font: normal bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
}

/* fix imageprofile */
.image-cover-center {
    background-size: cover;
    background-position: center center;
    font: normal bold 16px"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    background-color: white;
}
/* MESSAGE */

.chat {
    background: #fff;
    width: 100%;
    font-size: 14px;
}
.data-message {
    background: #e9e9e9;
    color: #8b8b8b;
    font-size: 12px;
    padding: 13px 0px;
    height: 40px;
    text-align: center;
}
.message {
    padding: 20px 20px;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
}
.chat > ul {
    display: block;
}
.chat > ul > li:nth-child(1) {
    width: 80%;
    word-wrap: break-word;
}
.chat > ul > li:nth-child(2) {
    width: 20%;
    float: right;
    margin-top: -20px;
    text-align: right;
}
.content-message {
    width: 200px !important;
    word-wrap: break-word;
}
.title-message {
    font-weight: 900;
    font-size: 14px;
}
.text-message {
    width: 100px;
    font-size: 14px;
    word-wrap: break-word;
    display: block;
}
.time-message {
    font-size: 12px;
    color: #989898;
    vertical-align: text-bottom
}
.invite {
    position: absolute;
    background: rgba(46, 204, 113, 0.9); 
    width: 100%;
    padding:40px; 
    padding-top: 90px;
    padding-bottom: 55px;
    z-index: 3;
    text-align:center;
    color: white;

    .invite-accept {
        background:#16a085;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 8px;
        padding-left: 20px;
        border-radius:50px;
        cursor: pointer;
    }

    .invite-deny {
        cursor: pointer;
    }
    ul {
        margin-top: 20px;
        li {
            display:inline;
            a {
                text-decoration: none;
                color:white;
            }
        }
    }
}
.chat-circle {
    font-size: 22px;
    color: #2ecc71;
    position: relative;
    top: 3px;
}
.chat-online {
    font-size: 22px;
    color: #2ecc71;
    position: relative;
    top: 3px;
}
.chat-busy {
    font-size: 22px;
    color: #e74c3c;
    position: relative;
    top: 3px;
}
.chat-offline {
    font-size: 22px;
    color: #95a5a6;
    position: relative;
    top: 3px;
}

#autocomplete-pais {
    /*top: 449px !important;
    position: relative !important;
    z-index: 99 !important;*/
}

.bar.bar-dark { border: none !important; }

.badge {
    top: -7px !important;
    left: -20px !important;
    margin-left: -25px;
    margin-top: -5px !important;
    font-size: 10px !important;
    padding: 1px 7px !important;
}
