<ion-view title='Adicionar Membro' style='background:#f2f2f2;'>
    <ion-content class="has-header">
        <label class="item item-input addSearch">
          <i class="icon ion-search placeholder-icon" style="margin-top: 8px;"></i>
          <input type="text" placeholder="Buscar...">
        </label>
       
        <div card-pro></div>
        <div card-startup></div>
        <div card-investor></div>
    </ion-content>
</ion-view>
