<div class="profile-image image-cover-center" back-img="{{profile.avatar}}"></div>
<h2 class="card-title">{{profile.name}}</h2>
<div>
  <div class="card-content">
    <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.city}}</div>
    <div class="tag tag-small" ng-repeat="market in profile.favoriteMarket">{{market}}</div>
  </div>
</div>
<div class="oqueprocura">
  <i class="icon-search icon-lupa"></i>
  <div class="icon-small">
    <ul>
      <li><i class="icon-step-1 icon-small-verde" ng-show="profile.lookingForIdea"></i></li>
      <li><i class="icon-step-2 icon-small-verde" ng-show="profile.lookingForProtoProgress"></i></li>
      <li><i class="icon-step-3 icon-small-verde" ng-show="profile.lookingForProtoDone"></i></li>
      <li><i class="icon-step-4 icon-small-verde" ng-show="profile.lookingForStartupLaunched"></i></li>
      <li><i class="icon-step-5 icon-small-verde" ng-show="profile.lookingForProfitingStartup"></i></li>
    </ul>
  </div>
</div>