<a ng-hide="!hasInvestor" ng-show="hasInvestor" ng-init="profile.type='investor'" class="item item-custom item-investor item-thumbnail-left" href="#/app/profile/investor/{{profile.investor._id}}?edit=true">
 <div class="profile-image image-cover-center" back-img="{{profile.investor.avatar}}"></div>
 <h2 class="card-title">{{profile.investor.name}}</h2>
   <div>
     <div class="card-content">
        <div class="tag tag-small"><i class="icon ion-ios7-location-outline"></i> {{profile.investor.city}}</div>
         <div class="tag tag-small" ng-repeat="market in profile.investor.favoriteMarket">{{market}}</div>
      </div>
    </div>
    <div class="oqueprocura">
      <i class="icon-search icon-lupa"></i>
      <div class="icon-small">
        <ul>
          <li><i class="icon-step-1 icon-small-verde" ng-show="profile.investor.lookingForIdea"></i></li>
          <li><i class="icon-step-2 icon-small-verde" ng-show="profile.investor.lookingForProtoProgress"></i></li>
          <li><i class="icon-step-3 icon-small-verde" ng-show="profile.investor.lookingForProtoDone"></i></li>
          <li><i class="icon-step-4 icon-small-verde" ng-show="profile.investor.lookingForStartupLaunched"></i></li>
          <li><i class="icon-step-5 icon-small-verde" ng-show="profile.investor.lookingForProfitingStartup"></i></li>
        </ul>
      </div>
    </div>
</a>

