<a
   ng-hide="!hasStartup"
   ng-show="hasStartup"
   ng-init="profile.type='startup'"
   class="item item-custom item-startup item-thumbnail-left"
   href="#/app/profile/startup/{{profile.startup._id}}?edit=true" 
>
  <div class="profile-image image-cover-center" back-img="{{profile.startup.avatar}}"></div>
  <h2 style="height:22px;">
    <span class="card-title">{{profile.startup.name}}</span>
    <span style="position: relative;top: -2px;">
      <i class="icon-step-1 icon-small-verde" ng-show="profile.startup.developmentStage === 0"></i>
      <i class="icon-step-2 icon-small-verde" ng-show="profile.startup.developmentStage === 1"></i>
      <i class="icon-step-3 icon-small-verde" ng-show="profile.startup.developmentStage === 2"></i>
      <i class="icon-step-4 icon-small-verde" ng-show="profile.startup.developmentStage === 3"></i>
      <i class="icon-step-5 icon-small-verde" ng-show="profile.startup.developmentStage === 4"></i>
    </span>
  </h2>
  <div class="card-content">
    <div class="description-dashboard">
      <div class="line-clamp">
        {{profile.startup.tagline || profile.startup.description}}
      </div>
    </div>
  </div> 
  <div class="oqueprocura">
    <i class="icon-search icon-lupa"></i>
    <div class="icon-small">
      <ul>
        <li><i class="icon-user icon-small-amarelo" ng-show="profile.startup.lookingForPros"></i></li>
        <li><i class="icon-user icon-small-azul" ng-show="profile.startup.lookingForInvestor"></i></li>
      </ul>
    </div>
  </div>
</a>


 
