<ion-view title='Feedback' style='background: url(/img/dark_mosaic.png);'>
    <ion-nav-buttons side='left'>
        <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>

    <ion-content padding='true'>
        <div class="list list-inset" style='background:none;'>
            <div class="item item-image animated flipInX" style='border:none;margin-top:100px;margin-bottom:80px;background:none;'>
                <img src="img/logo-intro.png" width='20%' height='20%' style='display:block;margin-left:auto;margin-right:auto;'>
            </div>

            <label class="item item-input">
                <textarea placeholder='Mensagem' ng-model='feedback.body' style='resize:none;'></textarea>
            </label>

            <div style='padding: 15px 0;'>
                <button class='button button-block button-balanced' ng-click='send(feedback)'>Enviar</button>
            </div>

            <div class="message-thanks" style="color:white; display:none">
                <center>Obrigado pelo seu feedback! Assim, o aplicativo ficará cada vez melhor pra você!</center>
            </div>
        </div>
    </ion-content>
</ion-view>