<div class="col-95">
  <div class="row" style="margin-left:-10px;">
    <div class="col col-75" style="font-size:13px;">Expertises:</div>
    <div class="col" style="font-size:13px;">Oferecendo:</div>
  </div>

  <div class="row" ng-repeat='member in profile.team' style="border-bottom:1px solid #f1f1f1; margin-top:5px; padding:0px;">

    <div class="col col-75">
      <p class='tag' add-on-comma='false' replace-spaces-with-dashes='true' ng-repeat='expertise in member.lookingForExpertise' style="margin-left:-5px;">{{expertise.text || expertise}} <span ng-click="removeTagFromTeam($parent.$index, $index)">×</span></p>
    </div> <!-- fecha col -->

    <div class="col">
      <div class="aceitando-icon" style="margin-top:3px; text-align:right">
        <span ng-show='member.offerEquity'>
          <i class="icon-equity icon-small-amarelo"></i>
        </span>
        <span c ng-show='member.offerCash'>
          <i class="icon-cash icon-small-amarelo"></i>
        </span>
      </div>
    </div> <!-- fecha col -->                  
  </div> <!-- fecha row -->
</div>
