<ion-view hide-back-button='true' hide-nav-bar='true' ng-class="intro ? 'intro' : 'normal'" style="background-image: url('img/bg-signin.png');">
  <ion-content padding='true'>
    <div class="list list-inset" style='background:none;'>
      <div class="item item-image" ng-class='hasFinished && "animated flipInX"' ng-show='hasFinished' style='border:none;margin-top:70px;margin-bottom:50px;background:none;'>
        <img src="img/logo-linkzter.svg" class="logo-intro" style='display:block;margin-left:auto;margin-right:auto;'>
      </div> 

      <div ng-show='!browserEnabled' style='color:white;text-align:center;'>Use o Chrome ou Opera para se cadastrar via desktop. Ou cadastre-se via mobile.</div>

      <div intro-menu></div>
    </div>
  </ion-content>
</ion-view>
