<div class="intro-menu padding">
  <button
    type='button'
    class="social-btn button-block social-linkedin"
    ng-class='hasFinished && "animated flipInX"'
    ng-show='hasFinished'
    ng-click='login("linkedin")'
    on-tap='login("linkedin")'
  >
    Linkedin
  </button>

  <button
    class="social-btn button-block social-facebook"
    ng-class='hasFinished && "animated flipInX"'
    ng-show='hasFinished'
    ng-click='login("facebook")'
    on-tap='login("facebook")'
  >
    Facebook
  </button>

  <button
    class="social-btn button-block social-google"
    ng-class='hasFinished && "animated flipInX"'
    ng-show='hasFinished'
    ng-click='login("google")'
    on-tap='login("google")'
  >
    Google
  </button>

  <button
    class="social-btn button-block social-github"
    ng-class='hasFinished && "animated flipInX"'
    ng-show='hasFinished'
    ng-click='login("github")'
    on-tap='login("github")'
  >
    Github
  </button>
</div>
