<ion-view title='Mensagens'>
  <ion-content class="has-header">
      <div class="list">
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Procurar..." ng-model='keyword'>
          </label>
          <button class="button button-clear" ng-click='keyword=""'>
            Limpar 
          </button>
      </div>

      <a href='#/app/message/professional/{{message.from._id}}/{{(message.from | getCurrentProfile).name}}' class="item list-messages item-avatar item-icon-right" ng-repeat="message in messages | orderBy:'updated_at':true">
          <img ng-src="{{ (message.from | getCurrentProfile).avatar }}" class="avatar-list-messages">
          <div class="typer-avatar icon-amarelo"></div>
          <div class="text-list-messages">
              <span class="title-messages">{{ (message.from | getCurrentProfile).name }}</span>
              <div class="text-messages">
                  {{ message.content }}
              </div>
          </div>
          <i class="icon ion-ios7-arrow-right icon-message-chat"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
