<ion-view title='{{post.title}}'>
  <ion-content class="has-header">
    <div class="list card">
      <div class="item item-body" ng-bind-html='post.body'></div>
    </div>
  </ion-content>
</ion-view>
