<ion-view title='Pro' style='background:#f2f2f2;'>
    <div menu-tools ng-init='type="professional"'></div>

    <ion-content class="has-header">

        <div class="perfil-topo" style='background:url(/img/bg_pro.jpg);'>
            <div class="perfil-foto">
                <div class="profile-image image-cover-center" back-img="{{profile.avatar.replace('162.209.79.99', '23.253.108.143')}}"></div>
            </div>
            <div class="perfil-descricao">
                <div class="perfil-titulo">{{profile.name}}</div>
                <div class="perfil-local">{{profile.location}}</div>
            </div>
        </div>

        <div ng-init='profile.type="professional"' profile-actions ng-hide="editMode"></div>

        <div class="block no-padding">
            <div class="perfil-descricao-detalhada" style="margin-top:10px;">
                <p>
                    {{profile.description}}
                </p>
                <div ng-show='profile.expertise.length > 0'>
                    <p class="tag" ng-repeat='expertise in profile.expertise'>{{expertise}}</p>
                </div>
            </div>

        </div>

        <div recommendations></div>

        <div class="block-title" ng-show="profile.lookingForEquity || profile.lookingForCash">
            aceita:
        </div>

        <div class="block no-padding">
            <div class="item item-icon-left" ng-show='profile.lookingForEquity'>
                <i class="icon icon-equity icon-amarelo icon-list-medio"></i>
                <div class="item-icon-text">Equity</div>
            </div>
            <div class="item item-icon-left" ng-show='profile.lookingForCash'>
                <i class="icon icon-cash icon-amarelo icon-list-medio"></i>
                <div class="item-icon-text">Cash</div>
            </div>
        </div>

        <div class="block-title" ng-show="profile.team.length > 0 || profile.profile_id.startup !== undefined">
            <span ng-show="profile.team.length === 1 || profile.profile_id.startup !== undefined">Startup:</span>
            <span ng-show="profile.team.length > 1">Startups:</span>
        </div>

        <div class="block no-padding">
            <a ng-if="profile.profile_id.startup._id" class="item item-custom item-startup item-thumbnail-left" href="#/app/profile/startup/{{profile.profile_id.startup._id}}">
                <div class="profile-image image-cover-center" back-img="{{profile.profile_id.startup.avatar}}"></div>
                <h2 style="height:22px;">
          <span class="card-title">{{profile.profile_id.startup.name}}</span>
          <span style="position: relative;top: -2px;">
            <i class="icon-step-1 icon-small-verde" ng-show="profile.profile_id.startup.developmentStage === 0"></i>
            <i class="icon-step-2 icon-small-verde" ng-show="profile.profile_id.startup.developmentStage === 1"></i>
            <i class="icon-step-3 icon-small-verde" ng-show="profile.profile_id.startup.developmentStage === 2"></i>
            <i class="icon-step-4 icon-small-verde" ng-show="profile.profile_id.startup.developmentStage === 3"></i>
            <i class="icon-step-5 icon-small-verde" ng-show="profile.profile_id.startup.developmentStage === 4"></i>
          </span>
        </h2>
                <div class="card-content">
                    <div class="description-dashboard">
                        <div class="line-clamp">
                            {{profile.profile_id.startup.tagline || profile.profile_id.startup.description}}
                        </div>
                    </div>
                </div>
                <div class="oqueprocura">
                    <i class="icon-search icon-lupa"></i>
                    <div class="icon-small">
                        <ul>
                            <li><i class="icon-user icon-small-amarelo" ng-show="profile.profile_id.startup.lookingForPros"></i>
                            </li>
                            <li><i class="icon-user icon-small-azul" ng-show="profile.profile_id.startup.lookingForInvestor"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>

            <a ng-repeat="profile_startup in profile.team" class="item item-custom item-startup item-thumbnail-left" href="#/app/profile/startup/{{profile_startup._id}}">
                <div class="profile-image image-cover-center" back-img="{{profile_startup.avatar}}"></div>
                <h2 style="height:22px;">
          <span class="card-title">{{profile_startup.name}}</span>
          <span style="position: relative;top: -2px;">
            <i class="icon-step-1 icon-small-verde" ng-show="profile_startup.developmentStage === 0"></i>
            <i class="icon-step-2 icon-small-verde" ng-show="profile_startup.developmentStage === 1"></i>
            <i class="icon-step-3 icon-small-verde" ng-show="profile_startup.developmentStage === 2"></i>
            <i class="icon-step-4 icon-small-verde" ng-show="profile_startup.developmentStage === 3"></i>
            <i class="icon-step-5 icon-small-verde" ng-show="profile_startup.developmentStage === 4"></i>
          </span>
        </h2>
                <div class="card-content">
                    <div class="description-dashboard">
                        <div class="line-clamp">
                            {{profile_startup.tagline || profile_startup.description}}
                        </div>
                    </div>
                </div>
                <div class="oqueprocura">
                    <i class="icon-search icon-lupa"></i>
                    <div class="icon-small">
                        <ul>
                            <li><i class="icon-user icon-small-amarelo" ng-show="profile_startup.lookingForPros"></i>
                            </li>
                            <li><i class="icon-user icon-small-azul" ng-show="profile_startup.lookingForInvestor"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>
