<div class="modal">
    <ion-header-bar class='bar-dark'>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">
                Voltar
            </button>
        </div>

        <h1 class="title">+Startup</h1>
    </ion-header-bar>
    <ion-content>
        <form name="profileForm" ng-init='currentType = "startup"'>
            <div class="list">
                <label class="item">
                    <img ng-src='{{profile.startup.avatar}}' ng-init='hasAvatar=profile.avatar; profile.startup.avatar=profile.avatar' ng-show='hasAvatar' style='margin:0 auto;max-width:200px;max-height:200px;display:block;'>
                    <progress id="progressBar" value="{{barProgress}}" max="100" style="display:none"></progress>
                </label>

                <label class="item">
                    <input type="file" class='button button-block button-clear button-upload' ng-file-select='onFileSelect($files, profiles.startup.name)' multiple accept='image/*'></input>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome:</span>
                    <input placeholder='Nome:' type="text" name="inputName" ng-init="profile.startup.name=profile.name" ng-model="profile.startup.name">
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Site (opcional)</span>
                    <input placeholder='Site:' type="text" name="inputSite" ng-init="profile.startup.site=profile.site" ng-model="profile.startup.site" required>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Local:</span>
                    <input placeholder='Local:' type="text" name="inputLocation" ng-init="profile.startup.location=profile.location" ng-model="profile.startup.location" required>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Descrição objetiva (opcional):</span>
                    <textarea placeholder='Descrição objetiva (opcional):' name="inputTagline" ng-init="profile.startup.tagline=profile.tagline" ng-model="profile.startup.tagline" style="height: 25px;"></textarea>
                </label>

                <label class="item item-input item-floating-label">
                    <span class="input-label">Descrição Detalhada (opcional):</span>
                    <textarea placeholder='Descrição detalhada (opcional):' name="inputDescription" ng-init="profile.startup.description=profile.description" ng-model="profile.startup.description" style="height: 25px;"></textarea>
                </label>

                <label class="item item-input item-floating-label">
                    <tags-input placeholder='Mercados:' name="inputMercados" min-tags="1" ng-init="profile.startup.market=profile.market" ng-model='profile.startup.market' add-on-comma='true' replace-spaces-with-dashes='true' required>
                        <!--<auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>-->
                    </tags-input>
                </label>

                <label class="item item-divider-explore">
                    Fase:
                </label>


                <label class="item item-radio">
                    <input type="radio" ng-init="profile.startup.developmentStage=profile.developmentStage" ng-model='profile.startup.developmentStage' ng-required="true" value='0'>

                    <div class="item-content stage-content item-ajust">
                        <i class="icon-left icon-estagio-1 estagio-register"></i>
                        <div class="settings-title">Ideia</div>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model='profile.startup.developmentStage' ng-required="true" value='1'>
                    <div class="item-content stage-content item-ajust">
                        <i class="icon-left icon-estagio-2 estagio-register"></i>
                        <div class="settings-title">Prototipagem</div>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model='profile.startup.developmentStage' ng-required="true" value='2'>
                    <div class="item-content stage-content item-ajust">
                        <i class="icon-left icon-estagio-3 estagio-register"></i>
                        <div class="settings-title">Protótipo pronto</div>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model="profile.startup.developmentStage" ng-required="true" value='3'>
                    <div class="item-content stage-content item-ajust">
                        <i class="icon-left icon-estagio-4 estagio-register"></i>
                        <div class="settings-title">Lançada</div>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>

                <label class="item item-radio">
                    <input type="radio" ng-model="profile.startup.developmentStage" ng-required="true" value='4'>
                    <div class="item-content stage-content item-ajust">
                        <i class="icon-left icon-estagio-5 estagio-register"></i>
                        <div class="settings-title">Com receita</div>
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>


                <label class="item item-divider-explore">
                    Buscando:
                </label>

                <label class="item item-icon-left item-ajust">
                    <i class='icon-user aceita'></i>
                    <div class="settings-investidor-title">Profissionais</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" ng-init='profile.startup.lookingForPros=profile.lookingForPros;' ng-checked="profile.lookingForPros" ng-click='profile.startup.lookingForPros = !profile.startup.lookingForPros;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>


                <label class="item item-input item-floating-label animated" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    <tags-input placeholder='Expertises' ng-model='profile.tmp.lookingForExpertise' add-on-comma='true' replace-spaces-with-dashes='true'>
                        <!--<auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>-->
                    </tags-input>
                </label>

                <label class="item item-divider-explore animated border-none" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    Oferecendo
                </label>


                <label class="item item-icon-left item-ajust animated" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    <i class="icon-equity aceita"></i>
                    <div class="settings-investidor-title">Equity</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" id="offerEquity" ng-init='profile.tmp.offerEquity = false' ng-click='profile.tmp.offerEquity = !profile.tmp.offerEquity;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class='item item-icon-left item-ajust animated' ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    <i class="icon-cash aceita"></i>
                    <div class="settings-investidor-title">Cash</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" id="offerCash" ng-init='profile.tmp.offerCash = false' ng-click='profile.tmp.offerCash = !profile.tmp.offerCash;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item animated border-none" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown" ' ng-show='profile.startup.lookingForPros'>

                    <div class="row" style="margin-top:-20px;">
                        <div class="col "></div>
                        <div class="col" style="text-align:right">
                            <button class="button icon-left ion-ios7-plus button-clear button-energized" ng-click='addToTeam({ lookingForExpertise: profile.tmp.lookingForExpertise, offerEquity: profile.tmp.offerEquity, offerCash: profile.tmp.offerCash})'><span style="color:#656565; position:relative; top:-2px;">Adicionar</span>
                            </button>

                        </div>
                    </div>
                </label>

                <div ng-show='profile.startup.lookingForPros && profile.startup.team.length' ng-init='profile.team=profile.startup.team' expertises-setting style="margin-top:-70px"></div>

                <label class="item item-divider-explore">
                    Buscando Investidor
                </label>

                <label class="item item-icon-left item-ajust">
                    <i class="icon-user azul"></i>
                    <div class="settings-investidor-title">Investidor</div>
                    <label class="toggle toggle-positive toggle-ajust">
                        <input type="checkbox" ng-init='profile.startup.lookingForInvestor=profile.lookingForInvestor' ng-checked="profile.lookingForInvestor" ng-click='profile.startup.lookingForInvestor = !profile.startup.lookingForInvestor;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item">
                    <button class="button button-block button-balanced" type="button" ng-disabled="profileForm.$invalid" ng-click='profileForm.$valid && edit("startup")'>
                        <span ng-show="profileForm.$invalid">Preencha todos os campos</span>
                        <span ng-show="profileForm.$valid">Salvar</span>
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</div>