<div class="list card" style="margin-bottom:10px; margin-top:0px;">
    <div class="item tabs tabs-secondary tabs-icon-left">
        <a ng-href='#/app/message/{{profile.type}}/{{profile.profile_id._id}}/{{profile.name}}' class="tab-item">
            <i class="icon icon-message icon-tabs" style="position:relative; top:1px;"></i>
            mensagem
        </a>

        <a class="tab-item" ng-click='hasFavorite ? unfavorite(profile) : favorite(profile)'>
            <i class="icon icon-favorite icon-tabs" style="position:relative; top:0px;"></i>
            {{hasFavorite ? "favoritado" : "favoritar"}}
        </a>

        <a class="tab-item" ng-click='hasRecommend ? unrecommend(profile) : recommend(profile)'>
            <i class="icon icon-recomendation icon-tabs" style="position:relative; top:1px;"></i>
            {{hasRecommend ? "recomendado" : "recomendar"}}
        </a>
    </div>
</div>
