<div class="modal">
    <ion-header-bar class='bar-dark'>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">
                Cancelar
            </button>
        </div>

        <h1 class="title">+Pro</h1>
    </ion-header-bar>
    <ion-content>

        <form name="profileForm" ng-init='currentType = "pro"' novalidate>
            <div class="list">
                <label class="item">
                    <img ng-src='{{profile.pro.avatar}}' ng-init='hasAvatar=profile.avatar; profile.pro.avatar=profile.avatar' ng-show='hasAvatar' style='margin:0 auto;max-width:200px;max-height:200px;display:block;'>
                    <progress id="progressBar" value="{{barProgress}}" max="100" style="display:none"></progress>
                </label>

                <label class="item">
                    <input type="file" class='button button-block button-clear button-upload' ng-file-select='onFileSelect($files, profiles.pro.name)' multiple accept='image/*'></input>
                </label>
                <label class="item item-input">
                    <input placeholder='Nome' type="text" name="inputName" ng-init="profile.pro.name=profile.name" ng-model="profile.pro.name" required>
                </label>

                <label class="item item-input">
                    <input placeholder='Site (opcional):' type="text" name="inputSite" ng-init="profile.pro.site=profile.site" ng-model="profile.pro.site">
                </label>

                <label class="item item-input">
                    <input placeholder='Local:' type="text" name="inputLocation" ng-init="profile.pro.location=profile.location" ng-model="profile.pro.location" required>
                </label>

                <label class="item item-input item-floating-label">
                    <tags-input placeholder='Expertises' name="inputExpertises" min-tags="1" ng-init="profile.pro.expertise=profile.expertise" ng-model='profile.pro.expertise' add-on-comma='true' replace-spaces-with-dashes='true' required>
                        <auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>

                <label class="item item-input">
                    <textarea placeholder='Sobre mim (max. 90 caracteres):' class="textarea" name="inputDescription" ng-init="profile.pro.description=profile.description" ng-model="profile.pro.description" style="height:25px" maxlength="90"></textarea>
                </label>

                <label class="item item-divider-explore">
                    Aceito:
                </label>

                <label class="item item-icon-left item-ajust">
                    <i class="icon-equity aceita"></i>
                    <div class="settings-investidor-title">Equity</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" ng-init='profile.pro.lookingForEquity=profile.lookingForEquity;' ng-click='profile.pro.lookingForEquity = !profile.pro.lookingForEquity;' ng-checked="profile.lookingForEquity">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item item-icon-left item-ajust">
                    <i class="icon-cash aceita"></i>
                    <div class="settings-investidor-title">Cash</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" ng-init='profile.pro.lookingForCash=profile.lookingForCash;' ng-click='profile.pro.lookingForCash = !profile.pro.lookingForCash;' ng-checked="profile.lookingForCash">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>
                <label class="item">
                    <button class="button button-block button-energized" type="button" ng-disabled="profileForm.$invalid" ng-click='profileForm.$valid && edit("pro")'>
                        <span ng-show="profileForm.$invalid">Preencha todos os campos</span>
                        <span ng-show="profileForm.$valid">Salvar</span>
                    </button>
                </label>
            </div>
        </form>
    </ion-content>
</div>