<ion-view title="Meu Perfil" hide-back-button='true' style='background:#f2f2f2;'>
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side='right'>
        <a ng-href='#/app/messages' class="button button-icon icon ion-chatbubble-working"></a>
        <a ng-href='#/app/explore' class="button button-icon icon ion-ios7-search"></a>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class='list padding'>
            <div card-secondary-startup></div>
            <div card-secondary-pro></div>
            <div card-secondary-investor></div>
        </div>
    </ion-content>
</ion-view>
