<div class="block no-padding">
  <div class="item item-icon-left" ng-show='profile.lookingForInvestor'>
    <i class="icon icon-user icon-amarelo icon-list-medio"></i>
    <div class="item-icon-text">
        
        <div class="row" style="margin-top:-10px; margin-left:-15px;">
          <div class="col col-75">
            <small>Expertises:</small>
          </div>
          <div class="col">
            <small>Oferecendo:</small>
            </div>
        </div>

        <div class="row" ng-repeat='member in profile.team' style="border-bottom: {{$index+1 == profile.team.length ? '0px' : '1px'}} solid #f1f1f1; padding:0px; margin-left:-5px; margin-top: 1px;">
          <div class="col col-75">
            <p class='tag' ng-repeat='expertise in member.lookingForExpertise' style="margin-left:-5px;">{{expertise.text || expertise}}</p>
          </div>
          <div class="col text-right">
            <span ng-show='member.offerEquity'>
              <i class="icon-equity icon-small-amarelo"></i>
            </span>

            <span c ng-show='member.offerCash'>
              <i class="icon-cash icon-small-amarelo"></i>
            </span>
          </div>
        </div>

    </div>
  </div>
  
  

</div>