<div class="modal">
  <ion-header-bar>
    <h1 class='title'>Enviar mensagem para {{profile.title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click='modal.hide()'>Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="send()">
      <label class="item item-input">
        <textarea placeholder='Mensagem...' ng-model="profileData.description"></textarea>
      </label>
      <label class="item">
        <button class="button button-block button-positive" type="submit">Enviar</button>
      </label>
    </form>
  </ion-content>
</div>
