<ion-view title="Configurações" hide-back-button='true'>
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div class="list">
      <div class="item item-divider">
        Qual o perfil que você deseja editar? 
      </div>
      <a class="item" ng-repeat='profile in profiles' ng-click='goTo(profile.name)'>
        {{profile.title}}
      </a>
    </div>
  </ion-content>
</ion-view>
