<div class="modal">
    <ion-header-bar class='bar-dark'>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios7-arrow-back"></i> Voltar
            </button>
        </div>

        <h1 class="title">+Investidor</h1>
    </ion-header-bar>
    <ion-content>

        <!-- inicia o form -->

        <form name="profileForm" ng-init='currentType = "investidor"'>
            <br>
            <ion-list>
                <img ng-src="{{model.currentUser.picture}}?type=large" class="cadastro-avatar" ng-hide="profile.investidor.avatar">
                <img ng-src="{{profile.investidor.avatar}}" class="cadastro-avatar" ng-init="hasAvatar=!profile.investidor.avatar" ng-hide="!hasAvatar" ng-show="hasAvatar">
            </ion-list>

            <progress id="progressBar" value="{{barProgress}}" max="100" style="display:none"></progress>

            <br>

            <label class="item no-border-top">
                <input type="file" class='button button-block button-clear button-upload' ng-file-select='onFileSelect($files, "investor")' multiple accept='image/*'></input>
            </label>


            <!-- IMPUT DE TEXTO -->

            <label class="item item-input">
                <input placeholder='Nome:' type="text" name="inputName" ng-init="profile.investor.name = model.currentUser.name" ng-model="profile.investor.name" required>
            </label>

            <label class="item item-input">
                <input placeholder='País:' type="text" name="inputCountry" ng-change="searchCountry()" ng-model="profile.investor.country" required>
            </label>

            <div class="autocomplete-pais">
                <div class="list ">
                    <li class="item" ng-click="$parent.onClickACCountry($index)" ng-repeat="country in data.countries track by $index">{{$parent.data.countries[$index]}}</li>
                </div>
            </div>


            <label class="item item-input">
                <input placeholder='Cidade:' type="text" name="inputCity" ng-change="searchCity()" ng-model="profile.investor.city" required>
            </label>

            <div class="autocomplete-pais">
                <div class="list">
                    <li class="item" ng-click="$parent.onClickACCity($index)" ng-repeat="city in data.cities track by $index">{{$parent.data.cities[$index]}}</li>
                </div>
            </div>


            <label class="item item-input">
                <textarea placeholder='Sobre mim (opicional):' name="inputDescription" class="textarea" ng-model="profile.investor.description"></textarea>
            </label>

            <label class="item item-input item-floating-label">
                <tags-input placeholder='Mercados Preferidos:' name="inputFavoriteMarket" min-tags="1" ng-model='profile.investor.favoriteMarket' add-on-comma='true' replace-spaces-with-dashes='true' add-on-blur='true' add-on-enter='true' required>
                    <auto-complete source="marketsList($query)" max-results-to-show='3'></auto-complete>
                </tags-input>
            </label>

            <div class="block-title-signup-top">
                Investment Range:
            </div>

            <div class="row" style="margin-top:-10px;">
                <div class="col">
                    <label class="item item-input">

                        <input placeholder='Mínimo' type="number" name="inputMinTimentRange" ng-model="profile.investor.minInvestimentRange" required>
                    </label>


                </div>
                <div class="col">
                    <label class="item item-input">

                        <input placeholder='Máximo' type="number" name="inputMaxTimentRange" ng-model="profile.investor.maxInvestimentRange" required>
                    </label>
                </div>
            </div>

            <!-- FIM DOS INPUTS DE TEXTO -->

            <label class="item item-toggle item-icon-left" style="margin-top:10px;">
                <i class="icon-left icon-hidden icon-medio"></i>
                <div class="signup-text-title">Ocultar esta informação</div>
                <label class="toggle toggle-positive toggle-ajust-perfil-oculto">
                    <input type="checkbox" ng-init='profile.investor.investimentRangeStealthMode = false;' ng-click='profile.investor.investimentRangeStealthMode = !profile.investor.investimentRangeStealthMode;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <div class="block-title-signup-top">
                FASES PREFERIDAS:
            </div>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-1 icon-medio icon-verde"></i>
                <div class="signup-text-title">Ideia</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForIdea = false;' ng-click='profile.investor.lookingForIdea = !profile.investor.lookingForIdea;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-2 icon-medio icon-verde"></i>
                <div class="signup-text-title">Prototipagem</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForProtoProgress = false;' ng-click='profile.investor.lookingForProtoProgress = !profile.investor.lookingForProtoProgress;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-3 icon-medio icon-verde"></i>
                <div class="signup-text-title">Protótipo pronto</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForProtoDone = false;' ng-click='profile.investor.lookingForProtoDone = !profile.investor.lookingForProtoDone;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-4 icon-medio icon-verde"></i>
                <div class="signup-text-title">Lançada</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForStartupLaunched = false;' ng-click='profile.investor.lookingForStartupLaunched = !profile.investor.lookingForStartupLaunched;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-step-5 icon-medio icon-verde"></i>
                <div class="signup-text-title">Com receita</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.investor.lookingForProfitingStartup = false;' ng-click='profile.investor.lookingForProfitingStartup = !profile.investor.lookingForProfitingStartup;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <!-- <br>

          <label class="item item-toggle item-icon-left">
            <i class="icon-left icon-hidden icon-medio"></i>
            <div class="signup-text-title">Perfil oculto</div>
            <label class="toggle toggle-positive toggle-ajust-perfil-oculto">
               <input type="checkbox" ng-init='profile.investor.profileStealthMode = false;' ng-click='profile.investor.profileStealthMode = !profile.investor.profileStealthMode;'>
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </label> -->

            <!-- BOTAO CADASTRO -->

            <label class="item">
                <button class="button button-block button-positive" type="button" ng-disabled="profileForm.$invalid" ng-init='profile.isValid=profileForm.$valid;profile.isInvalid=profileForm.$invalid;' ng-click='profileForm.$valid && save(profiles[id].name, profile.investor)'>
                    <span ng-show="profileForm.$invalid">Preencha todos os campos</span>
                    <span ng-show="profileForm.$valid">Salvar</span>
                </button>
            </label>


        </form>

        <!-- fim do form -->


    </ion-content>
</div>
