<div class="modal">
    <ion-header-bar class='bar-dark'>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios7-arrow-back"></i> Voltar
            </button>
        </div>

        <h1 class="title">+Startup</h1>
    </ion-header-bar>
    <ion-content>

        <!-- inicia o form -->

        <form name="profileForm" ng-init='currentType = "startup"'>
            <br>
            <ion-list>
                <img ng-src="img/logo-avatar-placeholder.png" class="cadastro-avatar" ng-hide="profile.startup.avatar">
                <img ng-src="{{profile.startup.avatar}}" class="cadastro-avatar" ng-init="hasAvatar=!profile.startup.avatar" ng-hide="!hasAvatar" ng-show="hasAvatar">
            </ion-list>

            <progress id="progressBar" value="{{barProgress}}" max="100" style="display:none"></progress>

            <br>

            <label class="item no-border-top">
                <input type="file" class='button button-block button-clear button-upload startup-upload' ng-file-select='onFileSelect($files, "startup")' multiple accept='image/*'></input>
            </label>


            <!-- IMPUT DE TEXTO -->

            <label class="item item-input">
                <input placeholder='Startup:' type="text" name="inputName" ng-model="profile.startup.name" required>
            </label>

            <label class="item item-input">
                <input placeholder='Site (opcional):' type="text" name="inputSite" ng-model="profile.startup.site">
            </label>

            <label class="item item-input">
                <input placeholder='País:' type="text" name="inputCountry" ng-change="searchCountry()" ng-model="profile.startup.country" required>
            </label>

            <div class="autocomplete-pais">
                <div class="list">
                    <li class="item" ng-click="$parent.onClickACCountry($index)" ng-repeat="country in data.countries track by $index">{{$parent.data.countries[$index]}}</li>
                </div>
            </div>

            <label class="item item-input">
                <input placeholder='Cidade:' type="text" name="inputCity" ng-change="searchCity()" ng-model="profile.startup.city" required>
            </label>

            <div class="autocomplete-pais">
                <div class="list">
                    <li class="item" ng-click="$parent.onClickACCity($index)" ng-repeat="city in data.cities track by $index">{{$parent.data.cities[$index]}}</li>
                </div>
            </div>

            <label class="item item-input">
                <textarea placeholder='Descrição objetiva (max. 90 caracteres):' name="inputTagline" ng-model="profile.startup.tagline" class="textarea"></textarea>
            </label>

            <label class="item item-input">
                <textarea placeholder='Descrição detalhada (opcional):' name="inputDescription" ng-model="profile.startup.description" class="textarea" maxlength="90"></textarea>
            </label>

            <label class="item item-input item-floating-label">
                <tags-input placeholder='Mercados:' name="inputMercados" min-tags="1" ng-model='profile.startup.market' add-on-comma='true' replace-spaces-with-dashes='true' required>
                    <auto-complete source="marketsList($query)" max-results-to-show='3'></auto-complete>
                </tags-input>
            </label>

            <!-- FIM IMPUT DE TEXTO -->

            <div class="block-title-signup-top">
                FASE:
            </div>

            <!-- RADIOS -->

            <label class="item item-radio">
                <input type="radio" ng-model='profile.startup.developmentStage' ng-required="true" value='0'>

                <div class="item-content stage-content item-ajust">
                    <i class="icon-radio icon-step-1 icon-medio icon-verde"></i>
                    <div class="radio-text-title">Ideia</div>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>


            <label class="item item-radio">
                <input type="radio" ng-model='profile.startup.developmentStage' ng-required="true" value='1'>
                <div class="item-content stage-content item-ajust">
                    <i class="icon-radio icon-step-2 icon-medio icon-verde"></i>
                    <div class="radio-text-title">Prototipagem</div>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" ng-model='profile.startup.developmentStage' ng-required="true" value='2'>
                <div class="item-content stage-content item-ajust">
                    <i class="icon-radio icon-step-3 icon-medio icon-verde"></i>
                    <div class="radio-text-title">Protótipo pronto</div>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" ng-model="profile.startup.developmentStage" ng-required="true" value='3'>
                <div class="item-content stage-content item-ajust">
                    <i class="icon-radio icon-step-4 icon-medio icon-verde"></i>
                    <div class="radio-text-title">Lançada</div>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <label class="item item-radio">
                <input type="radio" ng-model="profile.startup.developmentStage" ng-required="true" value='4'>
                <div class="item-content stage-content item-ajust">
                    <i class="icon-radio icon-step-5 icon-medio icon-verde"></i>
                    <div class="radio-text-title">Com receita</div>
                </div>
                <i class="radio-icon ion-checkmark"></i>
            </label>

            <!-- FIM DOS RADIOS -->

            <div class="block-title-signup-top">
                BUSCANDO:
            </div>

            <label class="item item-toggle item-icon-left">
                <i class='icon-left icon-user icon-medio icon-amarelo'></i>
                <div class="signup-text-title">Profissionais</div>
                <label class="toggle toggle-energized toggle-ajust">
                    <input type="checkbox" ng-init='profile.startup.lookingForPros = false;' ng-click='profile.startup.lookingForPros = !profile.startup.lookingForPros;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <!-- SUB ITEM PROFISSIONAIS -->

            <div class="sub-item-profisisonais animated">

                <label class="item no-border-top item-input item-floating-label animated" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    <tags-input placeholder='Expertise' ng-model='profile.tmp.lookingForExpertise' add-on-comma='false' replace-spaces-with-dashes='true'>
                        <auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>
                    </tags-input>
                </label>


                <div class="block-title-signup animated" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    OFERECENDO:
                </div>


                <label class="item item-toggle item-icon-left animated" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    <i class="icon-left icon-equity icon-medio icon-amarelo"></i>
                    <div class="signup-text-title">Equity</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" id="offerEquity" ng-init='profile.tmp.offerEquity = false' ng-click='profile.tmp.offerEquity = !profile.tmp.offerEquity;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class='item item-toggle item-icon-left animated' ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown"' ng-show='profile.startup.lookingForPros'>
                    <i class="icon-left icon-cash icon-medio icon-amarelo"></i>
                    <div class="signup-text-title">Cash</div>
                    <label class="toggle toggle-energized toggle-ajust">
                        <input type="checkbox" id="offerCash" ng-init='profile.tmp.offerCash = false' ng-click='profile.tmp.offerCash = !profile.tmp.offerCash;'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </label>

                <label class="item animated border-none" ng-class='profile.startup.lookingForPros ? "fadeInUp" : "fadeOutDown" ' ng-show='profile.startup.lookingForPros'>

                    <div class="row" style="margin-top:-20px;">
                        <div class="col "></div>
                        <div class="col text-right">
                            <button class="button icon-left ion-ios7-plus button-clear button-energized" style="margin-right: -50px;" ng-click='addToTeam({ lookingForExpertise: profile.tmp.lookingForExpertise, offerEquity: profile.tmp.offerEquity, offerCash: profile.tmp.offerCash})'><span style="color:#656565; position:relative; top:-2px;">Adicionar</span>
                            </button>

                        </div>
                    </div>
                </label>

                <div ng-show='profile.startup.lookingForPros && profile.startup.team.length' ng-init='profile.team=profile.startup.team' expertises-setting></div>


                <!--  <div class="block-title-signup">
                    BUSCANDO INVESTIDOR:
                  </div>
 -->
            </div>

            <!-- FIM SUB ITEM PROFISSIONAIS -->


            <label class="item item-toggle item-icon-left" style="margin-top:-11px;">
                <i class="icon-left icon-user icon-medio icon-azul"></i>
                <div class="signup-text-title">Investidor</div>
                <label class="toggle toggle-positive toggle-ajust">
                    <input type="checkbox" ng-init='profile.startup.lookingForInvestor = false' ng-click='profile.startup.lookingForInvestor = !profile.lookingForInvestor;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <label class="item">
                <button class="button button-block button-balanced" type="button" ng-disabled="profileForm.$invalid" ng-init='profile.isValid=profileForm.$valid;profile.isInvalid=profileForm.$invalid;' ng-click='save(profiles[id].name)'>
                    <span ng-show="profileForm.$invalid">Preencha todos os campos</span>
                    <span ng-show="profileForm.$valid">Salvar</span>
                </button>
            </label>
        </form>
    </ion-content>
</div>
