<div class="modal">
    <ion-header-bar class='bar-dark'>
        <div class="buttons">
            <button class="button button-clear" ng-click="modal.hide()">
                <i class="icon ion-ios7-arrow-back"></i> Voltar
            </button>
        </div>

        <h1 class="title">+Pro</h1>
    </ion-header-bar>
    <ion-content>


        <!-- inicia o form -->

        <form name="profileForm" ng-init='currentType = "pro"' novalidate>
            <br>
            <ion-list>
                <img ng-src="{{model.currentUser.picture}}?type=large" class="cadastro-avatar" ng-hide="profile.pro.avatar">
                <img ng-src="{{profile.pro.avatar}}" class="cadastro-avatar" ng-init="hasAvatar=!profile.pro.avatar" ng-hide="!hasAvatar" ng-show="hasAvatar">
            </ion-list>

            <progress id="progressBar" value="{{barProgress}}" max="100" style="display:none"></progress>

            <br>

            <label class="item no-border-top">
                <input type="file" class='button button-block button-clear button-upload' ng-file-select='onFileSelect($files, "pro")' multiple accept='image/*'></input>
            </label>


            <!-- IMPUT DE TEXTO -->

            <label class="item item-input">
                <input placeholder='Nome' type="text" name="inputName" ng-init="profile.pro.name = model.currentUser.name" ng-model="profile.pro.name" required>
            </label>

            <label class="item item-input">
                <input placeholder='Site (opcional):' type="text" name="inputSite" ng-model="profile.pro.site">
            </label>

            <label class="item item-input">
                <input placeholder='País:' type="text" name="inputCountry" ng-change="searchCountry()" ng-model="profile.pro.country" required>
            </label>

            <div class="autocomplete-pais">
                <div class="list">
                    <li class="item" ng-click="$parent.onClickACCountry($index)" ng-repeat="country in data.countries track by $index">{{$parent.data.countries[$index]}}</li>
                </div>
            </div>

            <label class="item item-input">
                <input placeholder='Cidade:' type="text" name="inputCity" ng-change="searchCity()" ng-model="profile.pro.city" required>
            </label>

            <div class="autocomplete-pais">
                <div class="list">
                    <li class="item" ng-click="$parent.onClickACCity($index)" ng-repeat="city in data.cities track by $index">{{$parent.data.cities[$index]}}</li>
                </div>
            </div>

            <label class="item item-input item-floating-label">
                <tags-input placeholder='Expertises' name="inputExpertises" min-tags="1" ng-model='profile.pro.expertise' add-on-comma='true' replace-spaces-with-dashes='true' required>
                    <auto-complete source="expertiseList($query)" max-results-to-show='3'></auto-complete>
                </tags-input>
            </label>

            <label class="item item-input">
                <textarea placeholder='Sobre mim (opcional):' name="inputDescription" ng-model="profile.pro.description" class="textarea" maxlength="90"></textarea>
            </label>

            <div class="block-title-signup-top">
                ACEITO:
            </div>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-equity icon-medio icon-amarelo"></i>
                <div class="signup-text-title">Equity</div>
                <label class="toggle toggle-energized toggle-ajust">
                    <input type="checkbox" ng-init='profile.pro.lookingForEquity = false;' ng-click='profile.pro.lookingForEquity = !profile.pro.lookingForEquity;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>

            <label class="item item-toggle item-icon-left">
                <i class="icon-left icon-cash icon-medio icon-amarelo"></i>
                <div class="signup-text-title">Cash</div>
                <label class="toggle toggle-energized toggle-ajust">
                    <input type="checkbox" ng-init='profile.pro.lookingForCash = false;' ng-click='profile.pro.lookingForCash = !profile.pro.lookingForCash;'>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </label>
            <label class="item">
                <button class="button button-block button-energized" type="button" ng-disabled="profileForm.$invalid" ng-init='profile.isValid=profileForm.$valid;profile.isInvalid=profileForm.$invalid;' ng-click='save(profiles[id].name, profile.pro)'>
                    <span ng-show="profileForm.$invalid">Preencha todos os campos</span>
                    <span ng-show="profileForm.$valid">Salvar</span>
                </button>
            </label>
</div>
</form>
</ion-content>
</div>
