<ion-view title='Recomendar' style='background: url(/img/dark_mosaic.png) repeat;'>
  <ion-nav-buttons side='left'>
    <button menu-toggle="left" class="button button-icon icon ion-navicon-round"></button>
  </ion-nav-buttons>

  <ion-content padding='true'>
    <div class="list list-inset" style='background:none;'>
      <div class="item item-image animated flipInX" style='border:none;margin-top:100px;margin-bottom:80px;background:none;'>
        <img src="img/logo-intro.png" width='20%' height='20%' style='display:block;margin-left:auto;margin-right:auto;'>
      </div>

      <div class="item" style="background:none;border:none;">
        <button class="button button-block button-balanced" ng-click='shareViaWhatsApp()'>Via WhatsApp</button> 
      </div>
    </div>
  </ion-content>
</ion-view>
