<ion-view title='Adicionar Membro' style='background:#f2f2f2;'>
  <ion-content class="has-header">

      <label class="item item-input addSearch">
        <i class="icon ion-search placeholder-icon" style="margin-top: 8px;"></i>
        <input type="text" placeholder="Profissionais ou investidores..." ng-model="input_keyword" ng-keyup="doSearch(input_keyword)">
      </label>

      <div class='list padding'>
        <div ng-repeat="profile in profiles.professional" ng-init="profile.type='pro'" class="item item-custom item-pro item-thumbnail-left" href="#/app/profile/professional/{{profile._id}}" ng-click='inviteMember(profile, "pro")'>
          <div ng-include src="'templates/card-pro-detail.html'"></div>
        </div>

        <div ng-repeat='profile in profiles.investor' ng-init="profile.type='investor'" class="item item-custom item-investor item-thumbnail-left" href="#/app/profile/investor/{{profile._id}}" ng-click='inviteMember(profile, "investor")'>
          <div ng-include src="'templates/card-investor-detail.html'"></div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
