@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?hp3r98');
	src:url('fonts/icomoon.eot?#iefixhp3r98') format('embedded-opentype'),
		url('fonts/icomoon.woff?hp3r98') format('woff'),
		url('fonts/icomoon.ttf?hp3r98') format('truetype'),
		url('fonts/icomoon.svg?hp3r98#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-equity:before {
	content: "\e600";
}
.icon-cash:before {
	content: "\e601";
}
.icon-user:before {
	content: "\e602";
}
.icon-Icon_200x200-15:before {
	content: "\e603";
}
.icon-calendar:before {
	content: "\e604";
}
.icon-share:before {
	content: "\e605";
}
.icon-news:before {
	content: "\e606";
}
.icon-message:before {
	content: "\e607";
}
.icon-favorite:before {
	content: "\e608";
}
.icon-hidden:before {
	content: "\e609";
}
.icon-step-1:before {
	content: "\e60a";
}
.icon-step-2:before {
	content: "\e60b";
}
.icon-step-3:before {
	content: "\e60c";
}
.icon-step-4:before {
	content: "\e60d";
}
.icon-step-5:before {
	content: "\e60e";
}
.icon-search:before {
	content: "\e60f";
}
.icon-make:before {
	content: "\e610";
}
.icon-recomendation:before {
	content: "\e611";
}
.icon-angel:before {
	content: "\e612";
}
